Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.This task will be done in following steps:

In [1]:
!pip install selenium

Requirement already satisfied: selenium in /opt/anaconda3/lib/python3.8/site-packages (3.141.0)
Requirement already satisfied: urllib3 in /opt/anaconda3/lib/python3.8/site-packages (from selenium) (1.26.4)

In [2]:
# importing all the required libraries

import selenium 
import pandas as pd
from selenium import webdriver

import time
from selenium.common.exceptions import NoSuchElementException

In [4]:
# connecting to the web driver
driver = webdriver.Chrome(r"//Users/prajwalkunder/Downloads/chromedriver")

In [5]:
# getting the webpage https://www.naukri.com/
url= "https://www.naukri.com/"
driver.get(url)

In [31]:
# searching the web_element
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_location = driver.find_element_by_id("qsb-location-sugg")

In [32]:
# Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

search_job.send_keys("Data Analyst") 
search_location.send_keys("Bangalore")

In [33]:
# Then click the search button.
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [34]:
# Then scrape the data for the first 10 jobs results you get.
titles_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") 
companies_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
experience_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [35]:
# writing for loop for the scraped data to convert into text.

job_titles=[]
for i in titles_tag:
    job_titles.append(i.text)
    
company_name=[]
for i in companies_tag:
    company_name.append(i.text)

experience_list=[]
for i in experience_tag:
    experience_list.append(i.text)
    
location_list=[]
for i in location_tag:
    location_list.append(i.text)

In [36]:
# checking collected data length

print(len(job_titles),len(company_name),len(experience_list),len(location_list))

20 20 20 20

In [37]:
# creating dataframe for the scraped data.

jobs = pd.DataFrame({}) 
jobs['title']=job_titles
jobs['company']=company_name
jobs['experience']=experience_list
jobs['location']=location_list

In [38]:
# getting only 10 data by using range method.
df = pd.DataFrame(jobs)
company_jobs = df.drop(range(10,20))

In [39]:
company_jobs

,title,company,experience,location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
1,Consultant - Data Analyst,Flipkart Internet Private Limited,0-2 Yrs,Bangalore/Bengaluru
2,Junior Data Analyst,Simplilearn,0-2 Yrs,Bangalore/Bengaluru(Sector 2 HSR Layout)\n(WFH...
3,"Hot Vacancies - Senior Data Analyst, Bengaluru",WSP CONSULTANTS INDIA PRIVATE LIMITED,5-10 Yrs,Bangalore/Bengaluru
4,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,10-15 Yrs,"Mumbai, Bangalore/Bengaluru"
5,Data Analyst,IBM India Pvt. Limited,3-7 Yrs,Bangalore/Bengaluru
6,Network Design & Data Analyst,Dell International Services India Private Limited,0-2 Yrs,Bangalore/Bengaluru
7,PDM - Data Analyst,Schneider Electric India Pvt. Ltd.,3-4 Yrs,"Davangere, Bangalore/Bengaluru"
8,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,3-8 Yrs,"Mumbai, Bangalore/Bengaluru"
9,Lead Data Analyst,European Company,10-20 Yrs,"Chennai, Bangalore/Bengaluru, Delhi / NCR"

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [40]:
# getting the webpage https://www.naukri.com/
url= "https://www.naukri.com/"
driver.get(url)

In [41]:
# Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
search_job=driver.find_element_by_id("qsb-keyword-sugg") 
search_location = driver.find_element_by_id("qsb-location-sugg")

In [42]:
search_job.send_keys("Data Scientist")
search_location.send_keys("Bangalore/Bengaluru,")

In [43]:
# Then click the search button.
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [44]:
# Scrape the data for the first 10 jobs results.
titles_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") 
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']") 
companies_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [45]:
# writing for loop for the scraped data to convert into text.

job_titles=[]
for i in titles_tag:
    job_titles.append(i.text)

location_list=[]
for i in location_tag:
    location_list.append(i.text)    
    
company_name=[]
for i in companies_tag:
    company_name.append(i.text)

In [46]:
#Fetching url's
urls=[]
for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    urls.append(i.get_attribute('href'))

In [47]:
len(urls)

20

In [48]:
# Extracting job description data.
description_tag=[]
for i in urls:
    driver.get(i)
    time.sleep(1) 
    try:
        description=driver.find_element_by_xpath('//section[@class="job-desc"]')
        description_tag.append(description.text)
    except NoSuchElementException:
        description_tag.append('-')

In [49]:
# checking collected data length
print(len(job_titles),len(company_name),len(location_list),len(description_tag))

20 20 20 20

In [50]:
# creating dataframe for the scraped data.

jobs = pd.DataFrame({}) 
jobs['title']=job_titles
jobs['location']=location_list
jobs['company']=company_name
jobs['job_description']=description_tag

In [51]:
# getting only 10 data by using range method.
df = pd.DataFrame(jobs)
company_jobs = df.drop(range(10,20))

In [52]:
company_jobs

,title,location,company,job_description
0,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,Job description\nJob description\n\nJob Role: ...
1,Data Scientist,Bangalore/Bengaluru,Flipkart Internet Private Limited,Job description\nAbout the team\nThe Data Scie...
2,Senior Data Scientist,Bangalore/Bengaluru,Flipkart Internet Private Limited,Job description\nAbout the role\nA Senior Data...
3,Senior/Lead Data Scientist - Machine Learning/...,Bangalore/Bengaluru,Squareroot Consulting Pvt Ltd.,Job description\nRoles and Responsibilities\nH...
4,Associate Data Scientist,Bangalore/Bengaluru,Atonarp,Job description\nWhat you ll be doing\nIndivid...
5,Lead Data Scientist,Bangalore/Bengaluru,bd,Job description\n\nEvaluating business require...
6,Job Opening For the Position Data Scientist,Bangalore/Bengaluru,Pluto seven business solutions (p) limited,Job description\nCompany Background:\nPluto7 i...
7,Data Scientist - Chubb - Bangalore,Bangalore/Bengaluru\n(WFH during Covid),CHUBB BUSINESS SERVICES INDIA LLP,Job description\nGreetings! We are looking for...
8,Data Scientist,Bangalore/Bengaluru,Atonarp,Job description\nWhat you ll be doing\nIndivid...
9,Data Scientist,Bangalore/Bengaluru,Siemens Limited,Job description\nChange the future with us\nTh...




Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [ ]:
#getting the webpage https://www.naukri.com/
driver = webdriver.Chrome(r"//Users/prajwalkunder/Downloads/chromedriver")

In [53]:
webpage = "https://www.naukri.com/"
driver.get(webpage)

In [54]:
url= "https://www.naukri.com/"
driver.get(url)

In [55]:
#searching for the data scientists job position
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [56]:
#Sending the keys for the position
search_job.send_keys('Data Scientist')

In [57]:
#searching for the search button
search_btn=driver.find_element_by_class_name('btn')
search_btn.click()

In [58]:
#locating the location as delhi
filter_button=driver.find_elements_by_xpath('span[@class="fw500"]')
for i in filter_button:
    if i.text=='Delhi / NCR':
        i.click()
        break

In [59]:
#locating the salary
filter_button=driver.find_elements_by_xpath('span[@class="fw500"]/span')
for i in filter_button:
    if i.text=='3-6 Lakhs':
        i.click()
        break

In [60]:
#searching for job title
job_title=[]
title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in title[:10]:
    job_title.append(i.text)
job_title

['Data Scientist',
 'Data Scientist/Quantitative Analyst',
 'Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist/Data Analyst /Business Analyst',
 'Junior Data Scientist/Data Analyst - Remote',
 'Senior Data Scientist',
 'Sr. Data Scientist I, SIP',
 'Senior/Lead Data Scientist - Machine Learning/Deep Learning',
 'Data Scientists and Engineers',
 'Lead Data Scientist']

In [61]:
#searching for comany name
company_names=[]
companies=driver.find_elements_by_xpath('//div[@class="mt-7 companyInfo subheading lh16"]/a')
for i in companies[:10]:
    company_names.append(i.text)
company_names

['Flipkart Internet Private Limited',
 '(3384 Reviews)',
 'Antier Solutions',
 '(4 Reviews)',
 'Inflexion Analytix Private Limited',
 'Inflexion Analytix Private Limited',
 'ADF Data Science Private Limited',
 '(13 Reviews)',
 'Flipkart Internet Private Limited',
 '(3384 Reviews)']

In [62]:
#location
location=[]
area=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
for i in area[:10]:
    location.append(i.text)
location

['Bangalore/Bengaluru',
 'Chandigarh',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Pune, Delhi / NCR, Mumbai (All Areas)',
 'Chennai',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad',
 'Bangalore/Bengaluru',
 'Chennai',
 'Bangalore/Bengaluru']

In [63]:
#experience
experience=[]
total=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
for i in total[:10]:
    experience.append(i.text)
experience

['0-5 Yrs',
 '3-5 Yrs',
 '0-3 Yrs',
 '0-3 Yrs',
 '0-3 Yrs',
 '5-10 Yrs',
 '5-7 Yrs',
 '1-6 Yrs',
 '4-8 Yrs',
 '2-7 Yrs']

In [64]:
# creating dataframe for the scraped data.
jobs=pd.DataFrame({})
jobs['Job_titles']=job_title
jobs['Job_location']=location
jobs['Company_names']=company_names
jobs['Experience']=experience

In [65]:
jobs

,Job_titles,Job_location,Company_names,Experience
0,Data Scientist,Bangalore/Bengaluru,Flipkart Internet Private Limited,0-5 Yrs
1,Data Scientist/Quantitative Analyst,Chandigarh,(3384 Reviews),3-5 Yrs
2,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Antier Solutions,0-3 Yrs
3,Data Scientist/Data Analyst /Business Analyst,"Pune, Delhi / NCR, Mumbai (All Areas)",(4 Reviews),0-3 Yrs
4,Junior Data Scientist/Data Analyst - Remote,Chennai,Inflexion Analytix Private Limited,0-3 Yrs
5,Senior Data Scientist,Bangalore/Bengaluru,Inflexion Analytix Private Limited,5-10 Yrs
6,"Sr. Data Scientist I, SIP",Hyderabad/Secunderabad,ADF Data Science Private Limited,5-7 Yrs
7,Senior/Lead Data Scientist - Machine Learning/...,Bangalore/Bengaluru,(13 Reviews),1-6 Yrs
8,Data Scientists and Engineers,Chennai,Flipkart Internet Private Limited,4-8 Yrs
9,Lead Data Scientist,Bangalore/Bengaluru,(3384 Reviews),2-7 Yrs

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [6]:
# getting the webpage https://www.glassdoor.co.in/index.htm
url= "https://www.glassdoor.co.in/index.htm"
driver.get(url)

In [14]:
search_btn= driver.find_element_by_id("scKeyword") 
search_btn.send_keys

In [15]:
# sending keys as Data Scientist 
search_job = driver.find_element_by_id('scKeyword')
search_job.send_keys("Data Scientist")

In [16]:
# enter “Noida” in “location” field.
search_job = driver.find_element_by_id("scLocation")
search_job.send_keys("Noida (India)")

In [17]:
# clicking search button
search_btn= driver.find_element_by_id("prefix__icon-arrow-1")
search_btn.click()

In [18]:
# scraping the data for the first 10 jobs results.
company_name = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']") 
no_of_days = driver.find_elements_by_xpath("//div[@data-test='job-age']")
company_rating = driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']")

In [19]:
# writing for loop for the scraped data to convert into text.
company_NAME=[]
for i in company_name:
    company_NAME.append(i.text)

NO_of_days=[]
for i in no_of_days:
    NO_of_days.append(i.text)
    
company_RATING=[]
for i in company_rating:
    company_RATING.append(i.text)

In [20]:
# checking collected data length

print(len(company_NAME),len(NO_of_days),len(company_RATING))

30 30 30

In [21]:
# create a dataframe of the scraped data.

company= pd.DataFrame({})
company['COMPANY']=company_NAME
company['NO_OF_DAYS']=NO_of_days
company['RATING']=company_RATING

In [24]:
df= pd.DataFrame(company) 
COMPANY = df.drop(range(10,30))

In [25]:
COMPANY

                                             COMPANY NO_OF_DAYS RATING
0                                             Indeed       30d+    4.3
1                             Applied Materials Inc.       30d+    4.0
2  BreathX Technologies Pvt Ltd, A Canary Global ...        13d
3                                         CommerceIQ       30d+    4.0
4                                             TorcAI         1d
5                                             PayPal       30d+    4.3
6                                   software company        29d    5.0
7    Siemens Technology and Services Private Limited         3d    4.1
8                                    Western Digital        24h    3.8
9                                             Maersk         1d    4.1

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm 2. Enter “Data Scientist” in Job title field and “Noida” in location field. 3. Click the search button.
4. After that you will land on the below page

In [26]:
# getting the webpage https://www.glassdoor.co.in/Salaries/index.htm 
url= "https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)

In [27]:
# searching the web_element
#Enter “Data Scientist” in Job Title field and "Noida" in location field.

search_job = driver.find_element_by_id("KeywordSearch")
search_job.send_keys("Data Scientist")

In [28]:
# clear the location which is already exist
search_job = driver.find_element_by_id("LocationSearch")
search_job.clear( )

In [29]:
#Searching for noida location
search_loc=driver.find_element_by_id("LocationSearch")
search_loc.send_keys('Noida (India)')

In [30]:
# Then click the search button.
search_btn = driver.find_element_by_id("HeroSearchButton")
search_btn.click()

In [31]:
# extracting company names

company_names=[]
companies = driver.find_elements_by_xpath('//h3[@class="m-0 css-g261rn"]/a')
for i in companies:
    company_names.append(i.text)

company_name[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="82ea01a1b17c61f89c83c4fd56601ab6", element="bbfb564b-fba4-4a95-9d82-e36b13209e9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="82ea01a1b17c61f89c83c4fd56601ab6", element="e783ec35-b565-48e7-abf8-d234b8a018e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="82ea01a1b17c61f89c83c4fd56601ab6", element="9d3e2210-bc4d-47a9-8be6-1264f2c47dd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="82ea01a1b17c61f89c83c4fd56601ab6", element="1a3bc063-c7f4-4fd5-92e3-beb6c04883a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="82ea01a1b17c61f89c83c4fd56601ab6", element="cead1f14-60e9-4efe-a359-80355f737f4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="82ea01a1b17c61f89c83c4fd56601ab6", element="d25276e8-e786-410e-a07d-89d67d2dab90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="82ea01a1b17c61f89c83c4fd56601ab6", element="829107cf-2856-407b-8394-ae77b0104d01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="82ea01a1b17c61f89c83c4fd56601ab6", element="23ab061c-c1cb-42d0-b377-d1327c9352be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="82ea01a1b17c61f89c83c4fd56601ab6", element="89d359ca-44c1-4460-9e04-d6dbeee31a2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="82ea01a1b17c61f89c83c4fd56601ab6", element="a84f47dd-7377-422a-b899-5633e4bca316")>]

In [32]:
# extracting data for number of salaries

total_salaries=[]
salaries=driver.find_elements_by_xpath('//span[@class="m-0 css-1b6bxoo"]')
for i in salaries:
    total_salaries.append(i.text)

total_salaries[2:12]

['18 salaries',
 '17 salaries',
 '15 salaries',
 '15 salaries',
 '14 salaries',
 '13 salaries',
 '10 salaries',
 '9 salaries',
 '9 salaries',
 '9 salaries']

In [33]:
# extracting Average salary data

average_salary=[]
salary=driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]/h3')
for i in salary:
    average_salary.append(i.text)

average_salary[:10]

['₹9,00,000',
 '₹6,15,289',
 '₹11,63,336',
 '₹12,18,244',
 '₹7,39,238',
 '₹13,00,000',
 '₹8,63,750',
 '₹11,10,000',
 '₹14,23,677',
 '₹13,28,697']

In [34]:
# extracting minimum salary data

min_max_salary=[]
salary=driver.find_elements_by_xpath('//span[@class="d-block d-lg-none m-0 css-1b6bxoo"]')
for i in salary:
    min=i.text
    min_max_salary.append(min)

min_max_salary[:10]

['', '', '', '', '', '', '', '', '', '']

In [35]:
# extracting rating of the company data

rating=[]
companyrating=driver.find_elements_by_xpath('//span[@class="m-0 css-kyx745"]')
for i in companyrating:
    rating.append(i.text)

rating[:10]

['3.9', '3.9', '4', '3.9', '4', '3.6', '4.2', '3.6', '3.7', '3.9']

In [36]:
glassdoor_salaries=pd.DataFrame({'Company_Names':company_names[:10],'No_of_salaries':total_salaries[2:12],'Average_salary':average_salary[:10],"Min_Max_salary":min_max_salary[:10],'Company Rating':rating[:10]},index=range(0,10,1))
glassdoor_salaries[:10]

,Company_Names,No_of_salaries,Average_salary,Min_Max_salary,Company Rating
0,IBM,18 salaries,"₹9,00,000",,3.9
1,Tata Consultancy Services,17 salaries,"₹6,15,289",,3.9
2,Accenture,15 salaries,"₹11,63,336",,4
3,Delhivery,15 salaries,"₹12,18,244",,3.9
4,Ericsson-Worldwide,14 salaries,"₹7,39,238",,4
5,UnitedHealth Group,13 salaries,"₹13,00,000",,3.6
6,Valiance Solutions,10 salaries,"₹8,63,750",,4.2
7,EXL Service,9 salaries,"₹11,10,000",,3.6
8,Optum,9 salaries,"₹14,23,677",,3.7
9,Optum Global Solutions,9 salaries,"₹13,28,697",,3.9

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [37]:
# connecting to the web driver
driver = webdriver.Chrome(r"//Users/prajwalkunder/Downloads/chromedriver")

In [38]:
# getting the webpage https://www.flipkart.com/

url= "https://www.flipkart.com/"
driver.get(url)

In [39]:
# closing popup window
search_btn=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']") 
search_btn.click()

In [40]:
# searching the web_element
#Enter “sunglasses” in the search field where “search for products, brands and more” 
search_bar = driver.find_element_by_xpath("//input[@class='_3704LK']") 
search_bar.send_keys("sunglasses")

In [41]:
# click on search bar
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [42]:
# fecthing all the url's

urls=[]
for i in driver.find_elements_by_xpath('//*[@class="ge-49M _2Kfbh8" or @class="ge-49M"]'):
    urls.append(i.get_attribute('href'))

urls

['https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10']

In [43]:
# searching for brand name

brand=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    search_brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in search_brand[:10]:
        brand.append(i.text)
        
brand[:100]

['ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'Fravy',
 'Fastrack',
 'Villain',
 'Poland',
 'Fastrack',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'PIRASO',
 'ROYAL SON',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Singco India',
 'Singco India',
 'ROZZETTA CRAFT',
 'Fastrack',
 'GANSTA',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'GANSTA',
 'Singco India',
 'ROZZETTA CRAFT',
 'Elligator',
 'NuVew',
 'Fastrack',
 'Fastrack',
 'United Colors of Benetton',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'ROYAL SON',
 'Singco India',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Elligator',
 'ROYAL SON',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'ROYAL SON',
 'Fastrack',
 'ROZZETTA CRAFT',
 'GANSTA',
 'elegante',
 'SRPM',
 'Fastrack',
 'elegante',
 'ROZZETTA CRAFT',
 'NuVew',
 'ROYAL SON',
 'IRUS by IDEE',
 'ROZZETTA CRAFT',
 'GANSTA',
 'Fastrack',
 'AISLIN',
 'United Colors of Benetton',
 'Fastrack',
 'ROZZETTA CRAFT',
 'elegante',
 'ROYAL SON',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'IDEE',
 'Ray-Ban',
 'Fastrack',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'FLYING MACHINE',
 'AISLIN',
 'ROZZETTA CRAFT',
 'hipe',
 'Wrogn',
 'Singco',
 'AISLIN',
 'GANSTA',
 'ROZZETTA CRAFT',
 'Wrogn',
 'Ray-Ban',
 'GANSTA',
 'ROZZETTA CRAFT',
 'Villain',
 'ROYAL SON',
 'ROYAL SON',
 'hipe',
 'Mi',
 'ROZZETTA CRAFT',
 'United Colors of Benetton',
 'AISLIN',
 'PETER JONES',
 'ROZZETTA CRAFT',
 'PETER JONES',
 'AISLIN']

In [44]:
# searching for product description

description=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    product=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in product:
        description.append(i.text)
        
description[:100]

['Polarized, Night Vision, UV Protection Aviator Sunglass...',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (54)',
 'Mirrored, Gradient, Riding Glasses Round Sunglasses (55...',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'Polarized, UV Protection Aviator Sunglasses (52)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Toughened Glass Lens, UV Protection Wayfarer, Rectangul...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (56)',
 'by Lenskart UV Protection Wayfarer Sunglasses (49)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'Polarized, Night Vision, UV Protection Aviator Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient, Night Vision Retro Square Sung...',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Retro Square Sunglasses (57)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection, Night Vision, Gradient, Mirrored Round, ...',
 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (53)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (52)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Recta...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'Polarized, Night Vision, UV Protection Aviator Sunglass...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 'Gradient Rectangular Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Retro Square Sunglasses (Free Size)']

In [45]:
# searching for product price
price=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    cost=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in cost:
        price.append(i.text)
        
price[:100]

['₹449',
 '₹449',
 '₹299',
 '₹513',
 '₹758',
 '₹237',
 '₹674',
 '₹339',
 '₹509',
 '₹599',
 '₹331',
 '₹449',
 '₹647',
 '₹1,010',
 '₹399',
 '₹525',
 '₹299',
 '₹655',
 '₹349',
 '₹699',
 '₹281',
 '₹225',
 '₹189',
 '₹599',
 '₹297',
 '₹246',
 '₹349',
 '₹331',
 '₹781',
 '₹499',
 '₹210',
 '₹349',
 '₹331',
 '₹295',
 '₹251',
 '₹1,179',
 '₹499',
 '₹213',
 '₹612',
 '₹699',
 '₹162',
 '₹522',
 '₹399',
 '₹449',
 '₹237',
 '₹229',
 '₹237',
 '₹449',
 '₹252',
 '₹245',
 '₹352',
 '₹449',
 '₹399',
 '₹209',
 '₹449',
 '₹525',
 '₹738',
 '₹249',
 '₹260',
 '₹312',
 '₹292',
 '₹655',
 '₹711',
 '₹599',
 '₹210',
 '₹349',
 '₹233',
 '₹699',
 '₹349',
 '₹252',
 '₹449',
 '₹349',
 '₹299',
 '₹248',
 '₹758',
 '₹699',
 '₹299',
 '₹649',
 '₹279',
 '₹1,179',
 '₹499',
 '₹1,440',
 '₹211',
 '₹449',
 '₹399',
 '₹323',
 '₹214',
 '₹449',
 '₹443',
 '₹195',
 '₹759',
 '₹449',
 '₹606',
 '₹237',
 '₹828',
 '₹433',
 '₹199',
 '₹398',
 '₹260',
 '₹525']

In [46]:
#extracting discount data

discount=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    discount_price=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span')
    for i in discount_price[:10]:
        discount.append(i.text)
        
discount[:100]

['77% off',
 '77% off',
 '88% off',
 '35% off',
 '15% off',
 '85% off',
 '25% off',
 '65% off',
 '36% off',
 '20% off',
 '67% off',
 '41% off',
 '73% off',
 '77% off',
 '85% off',
 '77% off',
 '85% off',
 '77% off',
 '83% off',
 '83% off',
 '77% off',
 '31% off',
 '78% off',
 '83% off',
 '80% off',
 '83% off',
 '69% off',
 '77% off',
 '70% off',
 '74% off',
 '9% off',
 '10% off',
 '67% off',
 '77% off',
 '65% off',
 '70% off',
 '78% off',
 '77% off',
 '15% off',
 '89% off',
 '73% off',
 '37% off',
 '83% off',
 '77% off',
 '66% off',
 '65% off',
 '12% off',
 '77% off',
 '85% off',
 '70% off',
 '79% off',
 '15% off',
 '70% off',
 '77% off',
 '62% off',
 '73% off',
 '64% off',
 '77% off',
 '84% off',
 '11% off',
 '76% off',
 '63% off',
 '77% off',
 '70% off',
 '53% off',
 '85% off',
 '77% off',
 '31% off',
 '61% off',
 '91% off',
 '10% off',
 '30% off',
 '87% off',
 '77% off',
 '65% off',
 '45% off',
 '69% off',
 '77% off',
 '80% off',
 '73% off',
 '81% off',
 '69% off',
 '85% off',
 '77% off',
 '68% off',
 '10% off',
 '82% off',
 '77% off',
 '24% off',
 '55% off',
 '60% off',
 '82% off',
 '77% off',
 '65% off',
 '70% off',
 '72% off',
 '77% off',
 '70% off',
 '75% off',
 '61% off']

In [47]:
# making dataframe for the extracted data.
import pandas as pd

sun_glasses=pd.DataFrame({'PRODUCT BRAND':brand[:100], 'PRODUCT DESCRIPTION':description[:100], 'PRODUCT PRICE':price[:100], 'PRODUCT DISCOUNT':discount[:100]}, index=range(0,100,1))

sun_glasses

,PRODUCT BRAND,PRODUCT DESCRIPTION,PRODUCT PRICE,PRODUCT DISCOUNT
0,ROZZETTA CRAFT,"Polarized, Night Vision, UV Protection Aviator...",₹449,77% off
1,ROZZETTA CRAFT,"Polarized, UV Protection Aviator Sunglasses (F...",₹449,77% off
2,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299,88% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,35% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
...,...,...,...,...
95,AISLIN,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹433,72% off
96,PETER JONES,"UV Protection, Gradient Butterfly, Retro Squar...",₹199,77% off
97,ROZZETTA CRAFT,UV Protection Round Sunglasses (Free Size),₹398,70% off
98,PETER JONES,"Polarized, UV Protection, Riding Glasses Wayfa...",₹260,75% off
99,AISLIN,UV Protection Retro Square Sunglasses (Free Size),₹525,61% off

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-6gbincludes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [48]:
# searching flipkart url

url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.'

In [49]:
#getting url

driver.get(url)

In [50]:
url=[]
for i in driver.find_elements_by_xpath('//*[@class="ge-49M _2Kfbh8" or @class="ge-49M"]'):
    urls.append(i.get_attribute('href'))
    
urls

['https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10']

In [51]:
# extracting rating of the product data

rating=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    product_rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for i in product_rating:
        rating.append(i.text)
        
len(rating)

89

In [52]:
# extracting review summary data
review_summary=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for i in summary:
        review_summary.append(i.text)
        
len(review_summary)

100

In [53]:
# extracting full reviews
full_reviews=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    reviews=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for i in reviews:
        full_reviews.append(i.text)
        
len(full_reviews)

100

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker : 
1. Brand
2. Product Description
3. Price
4. discount 

As shown in the below image, you have to scrape the tick marked attributes.

In [54]:
# extracting url for 100 sneakers on flipkart

url="https://www.flipkart.com/"

In [55]:
# getting url
driver.get(url)

In [58]:
# sending sneakers word to search bar 

search_sneakers=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_sneakers.send_keys('sneakers')

In [64]:
# entering search button

search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [65]:
# getting all the urls
urls=[]
for i in driver.find_elements_by_xpath('//*[@class="ge-49M _2Kfbh8" or @class="ge-49M"]'):
    urls.append(i.get_attribute('href'))
urls

['https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10']

In [66]:
#extracting product brnad

brand=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    shoe_brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in shoe_brand[:100]:
        brand.append(i.text)
        
brand

['WELDONE',
 'BRUTON',
 'KULP',
 'Nilatin',
 'CALCADOS',
 'PEHANOSA',
 'Robbie jones',
 'Chevit',
 'Numenzo',
 'Chevit',
 'World Wear Footwear',
 'India hub',
 'Shoes Bank',
 'Robbie jones',
 'Chevit',
 'Numenzo',
 'Numenzo',
 'Chevit',
 'T-ROCK',
 'Next INN',
 'bluemaker',
 'STRANGER BROTHERS',
 'Stefano Rads',
 'Echor',
 'Chevit',
 'believe',
 'ASTEROID',
 'Chevit',
 'ESSENCE',
 'Birde',
 'Zsyto',
 'BRUTON',
 'Robbie jones',
 'HOTSTYLE',
 'World Wear Footwear',
 'India hub',
 'Robbie jones',
 'Ktiz',
 'Zsyto',
 'Chevit',
 'India hub',
 'Magnolia',
 'Arohi',
 'luxury fashion',
 'ESSENCE',
 'Robbie jones',
 'World Wear Footwear',
 'WELDONE',
 'HOTSTYLE',
 'BRUTON',
 'Zsyto',
 'BRUTON',
 'Zorth',
 'Jack Diamond',
 'Zsyto',
 'Numenzo',
 'kardam&sons',
 'Fzzirok',
 'Robbie jones',
 'Next INN',
 'Chevit',
 'kardam&sons',
 'Robbie jones',
 'Chevit',
 'Echor',
 'Lee Won',
 '3SIX5',
 'Chevit',
 'HOCKWOOD',
 'bluemaker',
 'Birde',
 'India hub',
 'Absolute comfort',
 'Absolute comfort',
 'World Wear Footwear',
 'Chevit',
 'Robbie jones',
 'bacca bucci',
 'SPARX',
 'BRUTON',
 'kardam&sons',
 'BRUTON',
 'Zixer',
 'WELDONE',
 'DEER ROCK',
 'SUSON',
 'ESSENCE',
 'BRUTON',
 'SPARX',
 'Englewood',
 'SPARX',
 'India hub',
 'kardam&sons',
 'REEBOK',
 'SPARX',
 'Numenzo',
 'Birde',
 'HOCKWOOD',
 'mannu',
 'Chevit',
 'Chevit',
 'T-ROCK',
 'Magnolia',
 'Next INN',
 'SPARX',
 'Nilatin',
 'Jack Diamond',
 'Robbie jones',
 'PUMA',
 'PUMA',
 'BRUTON',
 'Chevit',
 'Zorth',
 'RODDICK SHOES',
 'SPARX',
 'Echor',
 'Robbie jones',
 'Chevit',
 'HOTSTYLE',
 'Chevit',
 'SPARX',
 'SPARX',
 'City Soles',
 'WELDONE',
 'D-SNEAKERZ',
 'Robbie jones',
 'Zsyto',
 'India hub',
 'Tying',
 'STRANGER BROTHERS',
 'Robbie jones',
 'Chevit',
 'Chevit',
 'SHOEFLY',
 'Creer',
 'Numenzo',
 'ADIDAS',
 'BRUTON',
 'Echor',
 'Next INN',
 'HOCKWOOD',
 'lejano',
 'Chevit',
 'Chevit',
 'PROVOGUE',
 'Chevit',
 'SPARX',
 'Echor',
 'Airland',
 'Chevit',
 'Birde',
 'Chevit',
 'SPARX',
 'ADIDAS',
 'FILA',
 'India hub',
 'PUMA',
 'Bonexy',
 'FILA',
 'Chevit',
 'PUMA',
 'M K FOOTWEAR',
 'Chevit',
 'luxury fashion',
 'Svpanther',
 'STRANGER BROTHERS',
 'Absolute comfort',
 'WELDONE',
 'Birde',
 'Chevit',
 'CAMPUS',
 'BRUTON',
 'Zorth',
 'Chevit',
 'PUMA',
 'India hub',
 'KRAFTER',
 'Edoeviv',
 'ESSENCE',
 'Numenzo',
 'Skechers',
 'ROCKFIELD',
 'well feet',
 'Chevit',
 'ROAR SHOES',
 'Red Eagle',
 'URBANBOX',
 'Next INN',
 'ESSENCE',
 'Axter',
 'Xtoon',
 'Chevit',
 'Absolute comfort',
 'Robbie jones',
 'PUMA',
 'Echor',
 'LoveHush',
 'SPARX',
 'ADIDAS',
 'Chevit',
 'PUMA',
 'SPARX',
 'Jack Diamond',
 'WELDONE',
 'Zorth',
 'Aura',
 'BRUTON',
 'BRUTON',
 'RED TAPE',
 'FILA',
 'FILA',
 'India hub',
 'Longwalk',
 'Wakefield',
 'PUMA',
 'Chevit',
 'NIKE',
 'PUMA',
 'pollachief',
 'Numenzo',
 'ADIDAS',
 'Zixer',
 'SUSON',
 'Next INN',
 'NIKE',
 'Chevit',
 'Creer',
 'Chevit',
 'BIZAZO',
 'bluemaker',
 'PUMA',
 'Echor',
 'M K FOOTWEAR',
 'Chevit',
 'SPARX',
 'Chevit',
 'Airland',
 'SUSON',
 'Zixer',
 'India hub',
 'PUMA',
 'PUMA',
 'M K FOOTWEAR',
 'WELDONE',
 'PUMA',
 'Zsyto',
 'Woakers',
 'BRUTON',
 'D-SNEAKERZ',
 'Tryviz',
 'T-ROCK',
 'India hub',
 'PUMA',
 'SPARX',
 'PUMA',
 'Numenzo',
 'Bonexy',
 'Skechers',
 'DUCATI',
 'Chevit',
 'ADIDAS',
 'TR',
 'Creer',
 'Next INN',
 'PUMA',
 'Red Rose',
 'Robbie jones',
 'Robbie jones',
 'Chevit',
 'Zixer',
 'U.S. POLO ASSN.',
 'Chevit',
 'Absolute comfort',
 'URBANBOX',
 'PUMA',
 'Echor',
 'Zixer',
 'sneaker hub',
 'Chevit',
 'Chevit',
 'Edoeviv',
 'PUMA',
 'SPARX',
 'luxury fashion',
 'PUMA',
 'Ktiz',
 'PUMA',
 'WELDONE',
 'Extoes',
 'T-ROCK',
 'SPARX',
 'BRUTON',
 'NIKE',
 'DUCATI',
 'PUMA',
 'India hub',
 'Edoeviv',
 'M K FOOTWEAR',
 'SPARX',
 'Numenzo',
 'SPADE CLUB',
 'HOCKWOOD',
 'ESSENCE',
 'Chevit',
 'PUMA',
 'Robbie jones',
 "LEVI'S",
 'Next INN',
 'ADIDAS',
 'otoos',
 'BRUTON',
 'Chevit',
 'Numenzo',
 'SPARX',
 'NIKE',
 'Echor',
 'TENN SPORTS',
 'Chevit',
 'ROCKFIELD',
 'Chevit',
 'Cyro',
 'World Wear Footwear',
 'PUMA',
 'WELDONE',
 'ASIAN',
 'Mr ShoesWala',
 'Vans on',
 'BRUTON',
 'HOCKWOOD',
 'SPARX',
 'PUMA',
 'India hub',
 'ESSENCE',
 'NIKE',
 'U.S. POLO ASSN.',
 'Numenzo',
 'PUMA',
 'SPARX',
 'PUMA',
 'Next INN',
 'U.S. POLO ASSN.',
 'BRUTON',
 'HOC',
 'Chevit',
 'Di-Michele',
 'Birde',
 'Rising Wolf',
 'Robbie jones',
 'PUMA',
 'Ronson',
 'DUCATI',
 'Chevit',
 'Zixer',
 'PUMA',
 'AADITYA',
 'Echor',
 'WELDONE',
 'Englewood',
 'FootFox',
 'Chevit',
 'PUMA',
 'NIKE',
 'M K FOOTWEAR',
 'WELDONE',
 'Dicy',
 'M K FOOTWEAR',
 'FILA',
 'BRUTON',
 'NIKE',
 'Chevit',
 'bacca bucci',
 'India hub',
 'REEBOOT',
 'SPARX',
 'ADIDAS',
 'Chevit',
 'SHOEFLY',
 'ROAR SHOES',
 'ASIAN',
 'Numenzo',
 'Zixer',
 'SHOEFLY',
 'PUMA',
 'Next INN',
 'SPARX',
 'Kraasa',
 'HOC',
 'Chevit',
 'NIKE',
 'Wrogn',
 'NIKE',
 'Robbie jones',
 'SUSON',
 'BXXY',
 'HOTSTYLE',
 'Echor',
 'DUCATI',
 'RED TAPE',
 'RED TAPE',
 'Chevit']

In [67]:
# extracting description data

description=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    product_description=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in product_description[:100]:
        description.append(i.text)
        
description

['Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Sneakers For Men',
 'Black Sneaker For Men Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Fashionable casual sneakers shoes Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Super 445 Fashion Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'casual for men (blue 06) Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Casuals Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'shoes for boys Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Affordable Combo Pack of 03 Pairs Sneakers Outdoor Loaf...',
 'Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Combo Pack of 2 Casual Sneakers For Men',
 'Rockstyle Trending Multicolor Ultralight canvas Sport/ ...',
 'Sneakers Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 'Sneakers Sneakers For Men',
 'Combo Pack Of 4 Casual Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'New Fashion Outdoor Trendy Lightweight Casual,Canvas St...',
 'Sneakers For Men',
 "Karda Casual Sneakers and Gym Shoes for Men's and Boys ...",
 'Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'shoes for boys Sneakers For Men',
 '2 Pairs Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'casual shoe for men Sneakers For Men',
 'Combo Pack of 5 Casual Shoes Loafers Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Affordable Combo Pack of 03 Pairs Sneakers Outdoor Loaf...',
 'Casual Sneakers White Shoes For Men And Boys Sneakers F...',
 'Fashion Sneakers Sneakers For Men',
 'SM-439 Sneakers For Men',
 'Combo Pack of 2 Casual Sneakers For Men',
 "Karda Casual Sneakers and Gym Shoes for Men's and Boys ...",
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men',
 'Gym/Walking/Running Sneakers For Men',
 'Trendy Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 "Karda Casual Sneakers and Gym Shoes for Men's and Boys ...",
 'TREAD LITE LUX Sneakers For Men',
 'SM-162 Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'mnnu casual running shoes, walking shoes, Sneakers For ...',
 'Sneakers For Men',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 'Synthetic Leather Casual Sneakers Shoes For Men Sneaker...',
 'White Sneakers Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Sneakers For Men',
 'Speeder DP Sneakers For Men',
 'Trenzo II IDP Sneakers For Men',
 'Combo Pack Of 3 Loafer Shoes Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'SD-323 Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Lightweight Pack of 02 Pair Shoes for Men Casual Sneake...',
 'Sneakers Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Re...",
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Model name: New Latest Affordable Range of Combo Pack o...',
 'Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Sneakers For Men',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 'Combo Pack of 4 Casual Shoes For Men Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'ADISET 1.0 M Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Trend Sneakers For Men',
 'Smart Casuals Canvas Shoes Combo pack of 2 Sneakers For...',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Sneakers For Men',
 'Combo Pack of 2 Walking Shoes Sneakers For Men',
 'SM-322 Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'shoe Sneakers For Men',
 'Stylish & Unique Design Combo Pack of 02 Shoes for Men ...',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Adiset M Sneakers For Men',
 'DERICO Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Simha IDP Sneakers For Men',
 'Sneakers For Men',
 'EMAN Sneakers For Men',
 'Affordable Combo Pack of 03 Pairs Sneakers Outdoor Loaf...',
 'Simha IDP Sneakers For Men',
 '170 Smart Grey Lace-Ups Casuals for Men Sneakers For Me...',
 'Fashionable casual sneaker shoes Sneakers For Men',
 "Men's Stylish Casual Shoes Sneakers For Men",
 '502 Trendy Sneakers Outdoors Casuals Sports for Running...',
 'EXPLORE Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'New Fashion Outdoor Trendy Lightweight Casual,Canvas St...',
 'Chevit Latest Fashion Combo Pack of 2 Pairs Casual Outd...',
 'Perforated Low IDP Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Partywear Sn...',
 'Sneakers For Men  (White) Sneakers For Men',
 'Trendy Sneakers For Men',
 'Sneakers For Men',
 'ELITE FLEX Sneakers For Men',
 'Sneakers For Men',
 'sneaker for mens and boys Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 "Men's Running Shoes Fashion Breathable Sneakers Mesh So...",
 'Sneakers For Men',
 'Combo Pack of 2 Casual Loafer Sneakers Shoes Sneakers F...',
 'Casual shoes Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'COMBO-PACK-(3)-SNEAKER-WRBT Sneakers For Men',
 'Sneakers For Men',
 'Cape IDP Sneakers For Men',
 'shoes for boys Sneakers For Men',
 "Men's Denim Casual Sneakers Jeans Shoes Sneakers For Me...",
 'SM-162 Sneakers For Men',
 'Vs Pace Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'one8 Prime Mid V3 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 3 Casual Shoes Sneakers For Men',
 'Combo Pack Of 4 Casual Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Sneakers For Men',
 'MESTO Sneakers For Men',
 'EMAN Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Men Boxer Sneakers For Men',
 'Sneakers For Men',
 'Puma Rebound LayUp SL Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Court Legacy Sneakers For Men',
 'Corode IDP Sneakers For Men',
 'Casual Sneaker for Men Sneakers For Men',
 'Sneakers For Men',
 'Vs Pace Sneakers For Men',
 'Gym/Walking/Running Sneakers For Men',
 'Court Royale AC Sneakers For Men',
 'Chevit Combo Pack of 5 Casual Sneakers With Canvas Shoe...',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'casual for men (black 08) Sneakers For Men',
 'Dexster Slip On IDP Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Smart Casuals Canvas Shoes Combo pack of 2 Sneakers For...',
 'Men SM-461 Black Grey Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'Gym/Walking/Running Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Smash V2 Loop Idp Sneakers For Men',
 'Bari Z Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men',
 'Slyde Knit IDP Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Bl...",
 'Synthetic Leather Casual Sneakers Shoes For Men Sneaker...',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Puma Wired Cage Sneakers For Men',
 'Lazy Knit Slip On IDP Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Sneakers For Men',
 'Bounder Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Advantage Base Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Rigel IDP Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Smart Casuals Canvas Shoes Combo pack of 2 Sneakers For...',
 'PANAL Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Stylish Design Sneakers Shoes Combo For Men & Boys - Pa...',
 'FUTURE RIDER PLAY ON Sneakers For Men',
 'shoes for boys Sneakers For Men',
 '168 Smart Red Lace-Ups Casuals for Men Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Firm IDP Sneakers For Men',
 'SM-620 Sneakers For Men',
 'Puma Smash v2 Buck Sneakers For Men',
 'Poise Perf V1 IDP Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 'Mesh Casual Stylish Partywear Casaul Shoes For Mens And...',
 'SM-482 Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'SB Heritage Vulc Skate Sneakers For Men',
 'Sneakers For Men',
 'Corode IDP Sneakers For Men',
 'Sneakers For Men',
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'SM-607 Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Sneakers For Men',
 'Puma Flex Renew Sneakers For Men',
 'Casual Sneakers White Shoes For Men And White Sneakers ...',
 'INDI EXCLUSIVE Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Easy Vulc 2.0 Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 2 Sports Running LightWeight Shoes Sneake...',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Sneakers For Men',
 'Air Max Excee Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'Sneakers For Men',
 'Perfect & Affordable Combo Pack of 04 Pairs Sneakers Ou...',
 'Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Latest Collection-349 Stylish Casual Sports Sneakers Fo...',
 'Puma Smash Vulc Sneakers For Men',
 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'SM-282 Sneakers For Men',
 'Flex Generation V1 IDP Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Sneakers For Men',
 'Sb Blzr Court Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Rigel IDP Sneakers For Men',
 'Sneakers For Men',
 'ST Runner v2 NL Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 4 Casual Sneaker Shoes For Men Sneakers F...',
 'casual sneaker , partywear shoes for men Sneakers For M...',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Casual Black/White Sneaker Sneakers For Men',
 'Combo Pack of 3 Casual Shoes Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Turin II Sneakers For Men',
 'Light Weighted Sport Shoes, Casual Shoes, Cycling shoes...',
 'Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Bmw Mms Future Kart Cat Sneakers For Men',
 'shoes for boys Sneakers For Men',
 '3 Pair Combo Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'RS-X Hard Drive Sneakers For Men',
 'Trenzo II IDP Sneakers For Men',
 'SB CHECK SOLAR CNVS Sneakers For Men',
 'Sneakers For Men',
 'MEN RUNNING SHOES BREATHABLE HIGH ELASTICITY AIR CUSHIO...',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 "Men's Ultraforce Mid-top Athletic-Inspired Retro Fashio...",
 'ESTE Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Vs Pace Sneakers For Men',
 '282 Sneakers For Men',
 'Serve Pro Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Combo Pack of 5 Latest Collection Stylish Casual Loafer...',
 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Jfwbanna Print Pu Sneakers For Men',
 'Combo Men Pack of 2 Loafers Shoes Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 "Bxxy's Mens Faux Leather stylish Casual with strap lace...",
 'Adiset M Sneakers For Men',
 'Atsuma Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Court Royale AC Sneakers For Men',
 'Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'Fashion Sneakers Sneakers For Men',
 "D'LITES 3-ZENWAY Sneakers For Men",
 'Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...']

In [68]:
#extracting price data

price=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    product_price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in product_price[:100]:
        price.append(i.text)
        
price

['₹235',
 '₹379',
 '₹399',
 '₹449',
 '₹748',
 '₹495',
 '₹379',
 '₹449',
 '₹378',
 '₹599',
 '₹240',
 '₹474',
 '₹349',
 '₹499',
 '₹350',
 '₹449',
 '₹449',
 '₹425',
 '₹449',
 '₹449',
 '₹475',
 '₹242',
 '₹449',
 '₹621',
 '₹399',
 '₹683',
 '₹499',
 '₹399',
 '₹698',
 '₹298',
 '₹499',
 '₹489',
 '₹199',
 '₹240',
 '₹499',
 '₹664',
 '₹474',
 '₹419',
 '₹471',
 '₹473',
 '₹449',
 '₹398',
 '₹469',
 '₹379',
 '₹399',
 '₹499',
 '₹240',
 '₹235',
 '₹283',
 '₹474',
 '₹398',
 '₹449',
 '₹450',
 '₹635',
 '₹398',
 '₹449',
 '₹410',
 '₹349',
 '₹449',
 '₹621',
 '₹474',
 '₹419',
 '₹499',
 '₹470',
 '₹489',
 '₹365',
 '₹464',
 '₹759',
 '₹692',
 '₹449',
 '₹698',
 '₹449',
 '₹284',
 '₹189',
 '₹499',
 '₹664',
 '₹499',
 '₹999',
 '₹699',
 '₹473',
 '₹410',
 '₹302',
 '₹555',
 '₹449',
 '₹285',
 '₹398',
 '₹468',
 '₹449',
 '₹629',
 '₹548',
 '₹675',
 '₹449',
 '₹430',
 '₹1,047',
 '₹749',
 '₹474',
 '₹799',
 '₹699',
 '₹378',
 '₹621',
 '₹425',
 '₹449',
 '₹348',
 '₹399',
 '₹660',
 '₹429',
 '₹399',
 '₹470',
 '₹1,549',
 '₹1,360',
 '₹449',
 '₹489',
 '₹448',
 '₹499',
 '₹629',
 '₹759',
 '₹499',
 '₹470',
 '₹283',
 '₹449',
 '₹985',
 '₹979',
 '₹699',
 '₹379',
 '₹346',
 '₹499',
 '₹398',
 '₹235',
 '₹898',
 '₹499',
 '₹499',
 '₹449',
 '₹448',
 '₹498',
 '₹398',
 '₹449',
 '₹2,159',
 '₹449',
 '₹499',
 '₹474',
 '₹692',
 '₹398',
 '₹341',
 '₹399',
 '₹505',
 '₹448',
 '₹840',
 '₹470',
 '₹264',
 '₹598',
 '₹498',
 '₹499',
 '₹1,049',
 '₹1,795',
 '₹1,406',
 '₹489',
 '₹1,360',
 '₹449',
 '₹1,244',
 '₹759',
 '₹1,280',
 '₹349',
 '₹212',
 '₹379',
 '₹499',
 '₹449',
 '₹199',
 '₹235',
 '₹299',
 '₹349',
 '₹1,329',
 '₹449',
 '₹449',
 '₹499',
 '₹1,813',
 '₹449',
 '₹458',
 '₹399',
 '₹468',
 '₹449',
 '₹3,599',
 '₹299',
 '₹399',
 '₹474',
 '₹495',
 '₹399',
 '₹261',
 '₹399',
 '₹468',
 '₹299',
 '₹359',
 '₹470',
 '₹474',
 '₹499',
 '₹1,630',
 '₹499',
 '₹438',
 '₹798',
 '₹2,347',
 '₹489',
 '₹3,375',
 '₹799',
 '₹630',
 '₹379',
 '₹448',
 '₹698',
 '₹473',
 '₹235',
 '₹1,409',
 '₹1,047',
 '₹1,049',
 '₹449',
 '₹249',
 '₹245',
 '₹2,899',
 '₹449',
 '₹2,996',
 '₹1,511',
 '₹488',
 '₹474',
 '₹1,942',
 '₹555',
 '₹399',
 '₹449',
 '₹2,787',
 '₹798',
 '₹298',
 '₹399',
 '₹499',
 '₹449',
 '₹1,642',
 '₹470',
 '₹329',
 '₹341',
 '₹882',
 '₹499',
 '₹360',
 '₹399',
 '₹555',
 '₹489',
 '₹1,943',
 '₹1,988',
 '₹349',
 '₹379',
 '₹1,457',
 '₹298',
 '₹549',
 '₹235',
 '₹427',
 '₹247',
 '₹449',
 '₹449',
 '₹2,006',
 '₹1,049',
 '₹1,485',
 '₹449',
 '₹449',
 '₹2,480',
 '₹1,448',
 '₹449',
 '₹2,999',
 '₹599',
 '₹298',
 '₹474',
 '₹1,425',
 '₹399',
 '₹499',
 '₹621',
 '₹341',
 '₹199',
 '₹1,949',
 '₹399',
 '₹369',
 '₹199',
 '₹2,879',
 '₹470',
 '₹555',
 '₹398',
 '₹212',
 '₹489',
 '₹398',
 '₹1,452',
 '₹979',
 '₹235',
 '₹1,578',
 '₹396',
 '₹1,643',
 '₹449',
 '₹789',
 '₹314',
 '₹1,045',
 '₹449',
 '₹3,679',
 '₹1,610',
 '₹1,511',
 '₹449',
 '₹449',
 '₹329',
 '₹750',
 '₹474',
 '₹684',
 '₹699',
 '₹468',
 '₹470',
 '₹2,035',
 '₹499',
 '₹1,371',
 '₹499',
 '₹1,939',
 '₹474',
 '₹474',
 '₹489',
 '₹407',
 '₹919',
 '₹4,445',
 '₹759',
 '₹629',
 '₹474',
 '₹299',
 '₹449',
 '₹448',
 '₹199',
 '₹2,203',
 '₹235',
 '₹629',
 '₹450',
 '₹1,255',
 '₹449',
 '₹645',
 '₹897',
 '₹1,627',
 '₹449',
 '₹468',
 '₹3,746',
 '₹1,744',
 '₹449',
 '₹1,435',
 '₹899',
 '₹2,609',
 '₹474',
 '₹2,399',
 '₹699',
 '₹360',
 '₹399',
 '₹399',
 '₹1,044',
 '₹486',
 '₹499',
 '₹2,345',
 '₹499',
 '₹1,504',
 '₹470',
 '₹499',
 '₹4,072',
 '₹360',
 '₹489',
 '₹647',
 '₹499',
 '₹347',
 '₹759',
 '₹3,990',
 '₹1,739',
 '₹2,027',
 '₹379',
 '₹379',
 '₹392',
 '₹298',
 '₹235',
 '₹379',
 '₹1,051',
 '₹1,405',
 '₹449',
 '₹1,949',
 '₹791',
 '₹2,958',
 '₹449',
 '₹599',
 '₹495',
 '₹629',
 '₹474',
 '₹499',
 '₹471',
 '₹1,376',
 '₹449',
 '₹379',
 '₹245',
 '₹654',
 '₹470',
 '₹419',
 '₹2,163',
 '₹3,027',
 '₹499',
 '₹714',
 '₹2,787',
 '₹1,423',
 '₹489',
 '₹999',
 '₹3,709',
 '₹1,408',
 '₹759']

In [69]:
# extracting discount data 
discount=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    discount_price=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span')
    for i in discount_price:
        discount.append(i.text)
        
discount

['52% off',
 '87% off',
 '60% off',
 '65% off',
 '62% off',
 '50% off',
 '62% off',
 '76% off',
 '62% off',
 '62% off',
 '51% off',
 '85% off',
 '65% off',
 '50% off',
 '29% off',
 '77% off',
 '77% off',
 '71% off',
 '55% off',
 '37% off',
 '52% off',
 '65% off',
 '55% off',
 '60% off',
 '60% off',
 '72% off',
 '75% off',
 '50% off',
 '65% off',
 '77% off',
 '50% off',
 '51% off',
 '60% off',
 '51% off',
 '50% off',
 '71% off',
 '63% off',
 '58% off',
 '52% off',
 '85% off',
 '85% off',
 '60% off',
 '53% off',
 '52% off',
 '60% off',
 '50% off',
 '51% off',
 '87% off',
 '43% off',
 '88% off',
 '69% off',
 '77% off',
 '54% off',
 '36% off',
 '69% off',
 '37% off',
 '75% off',
 '65% off',
 '55% off',
 '60% off',
 '76% off',
 '79% off',
 '50% off',
 '68% off',
 '51% off',
 '63% off',
 '59% off',
 '69% off',
 '30% off',
 '55% off',
 '72% off',
 '85% off',
 '71% off',
 '62% off',
 '81% off',
 '71% off',
 '50% off',
 '60% off',
 '81% off',
 '75% off',
 '87% off',
 '44% off',
 '52% off',
 '71% off',
 '60% off',
 '53% off',
 '87% off',
 '16% off',
 '71% off',
 '32% off',
 '68% off',
 '74% off',
 '54% off',
 '21% off',
 '76% off',
 '59% off',
 '30% off',
 '62% off',
 '60% off',
 '57% off',
 '55% off',
 '65% off',
 '77% off',
 '11% off',
 '66% off',
 '60% off',
 '50% off',
 '50% off',
 '54% off',
 '84% off',
 '37% off',
 '55% off',
 '50% off',
 '16% off',
 '85% off',
 '50% off',
 '76% off',
 '43% off',
 '76% off',
 '22% off',
 '27% off',
 '30% off',
 '52% off',
 '65% off',
 '50% off',
 '60% off',
 '85% off',
 '55% off',
 '50% off',
 '50% off',
 '77% off',
 '77% off',
 '75% off',
 '60% off',
 '76% off',
 '40% off',
 '87% off',
 '50% off',
 '37% off',
 '30% off',
 '20% off',
 '65% off',
 '60% off',
 '75% off',
 '65% off',
 '15% off',
 '68% off',
 '47% off',
 '62% off',
 '50% off',
 '50% off',
 '19% off',
 '50% off',
 '59% off',
 '51% off',
 '54% off',
 '55% off',
 '59% off',
 '69% off',
 '57% off',
 '65% off',
 '57% off',
 '87% off',
 '50% off',
 '55% off',
 '60% off',
 '52% off',
 '40% off',
 '30% off',
 '30% off',
 '87% off',
 '55% off',
 '66% off',
 '54% off',
 '85% off',
 '8% off',
 '50% off',
 '53% off',
 '77% off',
 '40% off',
 '70% off',
 '33% off',
 '76% off',
 '61% off',
 '61% off',
 '73% off',
 '37% off',
 '53% off',
 '78% off',
 '64% off',
 '60% off',
 '68% off',
 '50% off',
 '53% off',
 '68% off',
 '56% off',
 '15% off',
 '41% off',
 '50% off',
 '43% off',
 '15% off',
 '36% off',
 '52% off',
 '55% off',
 '53% off',
 '88% off',
 '87% off',
 '70% off',
 '61% off',
 '66% off',
 '85% off',
 '50% off',
 '51% off',
 '42% off',
 '76% off',
 '25% off',
 '62% off',
 '51% off',
 '77% off',
 '51% off',
 '44% off',
 '60% off',
 '37% off',
 '37% off',
 '68% off',
 '70% off',
 '60% off',
 '66% off',
 '55% off',
 '58% off',
 '68% off',
 '67% off',
 '65% off',
 '15% off',
 '50% off',
 '63% off',
 '60% off',
 '44% off',
 '51% off',
 '61% off',
 '50% off',
 '65% off',
 '52% off',
 '51% off',
 '77% off',
 '63% off',
 '87% off',
 '57% off',
 '69% off',
 '55% off',
 '85% off',
 '42% off',
 '18% off',
 '50% off',
 '77% off',
 '55% off',
 '54% off',
 '60% off',
 '76% off',
 '40% off',
 '70% off',
 '70% off',
 '37% off',
 '49% off',
 '60% off',
 '50% off',
 '60% off',
 '65% off',
 '80% off',
 '35% off',
 '68% off',
 '63% off',
 '60% off',
 '52% off',
 '50% off',
 '44% off',
 '20% off',
 '57% off',
 '51% off',
 '43% off',
 '58% off',
 '24% off',
 '52% off',
 '54% off',
 '38% off',
 '58% off',
 '87% off',
 '47% off',
 '68% off',
 '22% off',
 '85% off',
 '33% off',
 '55% off',
 '62% off',
 '77% off',
 '55% off',
 '67% off',
 '6% off',
 '76% off',
 '31% off',
 '30% off',
 '53% off',
 '37% off',
 '49% off',
 '50% off',
 '51% off',
 '60% off',
 '51% off',
 '52% off',
 '81% off',
 '68% off',
 '59% off',
 '22% off',
 '44% off',
 '51% off',
 '37% off',
 '76% off',
 '70% off',
 '69% off',
 '10% off',
 '60% off',
 '42% off',
 '52% off',
 '21% off',
 '54% off',
 '74% off',
 '87% off',
 '35% off',
 '25% off',
 '59% off',
 '85% off',
 '53% off',
 '25% off',
 '54% off',
 '77% off',
 '48% off',
 '25% off',
 '42% off',
 '37% off',
 '40% off',
 '82% off',
 '81% off',
 '76% off',
 '60% off',
 '30% off',
 '75% off',
 '68% off',
 '51% off',
 '70% off',
 '59% off',
 '51% off',
 '50% off',
 '41% off',
 '63% off',
 '69% off',
 '56% off',
 '66% off',
 '65% off',
 '85% off',
 '55% off',
 '42% off',
 '57% off',
 '52% off',
 '62% off',
 '34% off',
 '62% off',
 '87% off',
 '62% off',
 '57% off',
 '58% off',
 '85% off',
 '51% off',
 '34% off',
 '40% off',
 '76% off',
 '75% off',
 '61% off',
 '21% off',
 '77% off',
 '50% off',
 '52% off',
 '65% off',
 '37% off',
 '62% off',
 '50% off',
 '49% off',
 '68% off',
 '58% off',
 '39% off',
 '44% off',
 '51% off',
 '64% off',
 '37% off',
 '75% off',
 '69% off',
 '60% off',
 '47% off',
 '60% off',
 '85% off']

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image

In [70]:
# searching webelement

url='https://www.myntra.com/shoes'

In [71]:
#getting url

driver.get(url)

In [72]:
# searching filter element

product_filter=driver.find_element_by_xpath('//span[@class="header-title"]')

product_filter.click()

In [73]:
# clicking price filter

price_filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")

price_filter.click()

In [74]:
# clicking color filter

color_filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")

color_filter.click()

In [75]:
#getting urls

urls=[]
for i in driver.find_elements_by_xpath('//li[@class="pagination-active" or @class="pagination-number"]/a'):
    urls.append(i.get_attribute('href'))
    
urls

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6619.0_13079.0_6619.0%20TO%2013079.0',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6619.0_13079.0_6619.0%20TO%2013079.0&p=2',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6619.0_13079.0_6619.0%20TO%2013079.0&p=3',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6619.0_13079.0_6619.0%20TO%2013079.0&p=4',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6619.0_13079.0_6619.0%20TO%2013079.0&p=5',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6619.0_13079.0_6619.0%20TO%2013079.0&p=6',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6619.0_13079.0_6619.0%20TO%2013079.0&p=7',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6619.0_13079.0_6619.0%20TO%2013079.0&p=8',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6619.0_13079.0_6619.0%20TO%2013079.0&p=9',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6619.0_13079.0_6619.0%20TO%2013079.0&p=10']

In [76]:
# extracting brand data

brand=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    shoe_brand=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for i in shoe_brand[:100]:
        brand.append(i.text)
        
brand[:100]

['ALDO',
 'ALDO',
 'Nike',
 'Nike',
 'Nike',
 'ALDO',
 'Puma',
 'Nike',
 'ASICS',
 'Puma',
 'UNDER ARMOUR',
 'Puma',
 'UNDER ARMOUR',
 'ADIDAS',
 'Puma',
 'Nike',
 'Skechers',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Hush Puppies',
 'Puma',
 'Nike',
 'PUMA Hoops',
 'Puma',
 'FORCLAZ By Decathlon',
 'Hush Puppies',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Puma',
 'Hush Puppies',
 'RARE RABBIT',
 'Hush Puppies',
 'Puma',
 'Hush Puppies',
 'Hush Puppies',
 'Ruosh',
 'Puma',
 'ASICS',
 'Kalenji By Decathlon',
 'J.FONTINI',
 'Puma',
 'San Frissco',
 'Hush Puppies',
 'Ruosh',
 'ALDO',
 'Ruosh',
 'Kenneth Cole',
 'KIPRUN By Decathlon',
 'Geox',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Ruosh',
 'FILA',
 'DAVINCHI',
 'DAVINCHI',
 'ALDO',
 'Geox',
 'Kenneth Cole',
 'Geox',
 'Geox',
 'Ruosh',
 'Saint G',
 'Puma',
 'Geox',
 'Geox',
 'Nike',
 'J.FONTINI',
 'Nike',
 'Nike',
 'Nike',
 'Geox',
 'Bugatti',
 'Cole Haan',
 'Nike',
 'Cole Haan',
 'Geox',
 'Levis',
 'FILA',
 'Puma',
 'Cole Haan',
 'ADIDAS',
 'Geox',
 'ADIDAS',
 'VIONIC',
 'Kenneth Cole',
 'J.FONTINI',
 'UNDER ARMOUR',
 'ASICS',
 'Hush Puppies',
 'Hush Puppies',
 'J.FONTINI',
 'KLEAT',
 'Lacoste',
 'Lacoste',
 'Bugatti',
 'Lacoste',
 'KLEAT',
 'Cole Haan',
 'Geox']

In [77]:
# extraxting description data

description=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    shoe_description=driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for i in shoe_description[:100]:
        description.append(i.text)
        
description[:100]

['Men Sneakers',
 'Men Driving Shoes',
 'LEBRON XVIII Basketball Shoes',
 'Unisex LEBRON XVIII Basketball',
 'Men AIR ZOOM Running Shoes',
 'Men Sneakers',
 'Mesh Hybrid Fuego Running',
 'Women FREE RN 5.0 Shoes',
 'Women Running Shoes',
 'Men Running Shoes',
 'Women Liquify Rebel Running',
 'Men Velocity Nitro Running',
 'Women TriBase Reign 2 Training',
 'Women SUPERNOVA Running Shoes',
 'Men Liberate Nitro Running',
 'Men CHALLENGER OG Sneakers',
 'Men Flex Advantage 4.0Upstream',
 'HOVR Sonic 3 Running Shoes',
 'Men Leather Slip-On Shoes',
 'Men Leather Slip-On Sneakers',
 'Men Football Shoes',
 'Women Air Max Siren Sneakers',
 'Unisex Clyde Basketball Shoes',
 'Women Velocity Nitro Running',
 'TREKKING 100 Boots',
 'Men Colourblocked Driving Shoes',
 'Women HOVR Rise 2 Training',
 'Men Solid Leather Formal Slip-Ons',
 'Women Eternity Nitro Running',
 'Men Leather Derbys',
 'Men Perforations Leather Brogues',
 'Men Leather Slip-On Sneakers',
 'Women Deviate Nitro Running',
 'Men Solid Leather Formal Slip-Ons',
 'Men Solid Leather Formal Slip-Ons',
 'Men Solid Leather Formal Slip-Ons',
 'Women Liberate Nitro Running',
 'Men Running Shoes',
 'Men KD500 Running Shoe',
 'Men Textured Leather Loafers',
 'Men 365 Evoknit Ignite Ct Football',
 'Men Leather Loafers',
 'Men Formal Derbys',
 'Men Textured Leather Monks',
 'Women Solid Leather Pumps',
 'Men Formal Leather Brogues',
 'Men Solid Leather Sneakers',
 'Women Running Shoes',
 'Men Leather Semiformal Driving',
 'GS SC 3Zero IV Basketball',
 'GS SC 3Zero IV Basketball',
 'Men Solid Leather Formal Derbys',
 'Men Solid Leather Formal Monks',
 'Women Sneakers',
 'Ustraa black',
 'Men Textured Formal Leather Loafers',
 'Women Sandals',
 'Men Leather Formal Slip Ons',
 'Men Solid Leather Formal Derbys',
 'Men Leather Formal Derbys',
 'Men Leather Formal Derbys',
 'Men Leather Formal Brogues',
 'Women Leather Heeled Boots',
 'Men IGNITE Flash EvoKNIT',
 'Women Leather Solid Pumps',
 'Men Leather Formal Derbys',
 'Men AIR ZOOM PEGASUS 38 Run',
 'Men Textured Leather Loafers',
 'Men AIR ZOOM PEGASUS 38 Run',
 'Men REACT MILER 2 Running',
 'Men REACT MILER 2 Running',
 'Men Leather Driving Shoes',
 'Men Solid Leather Formal Monk Shoes',
 'Men Wingtip Oxford Sneakers',
 'Unisex TREY 5 Basketball Shoes',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Leather Slip-On Sneakers',
 'Men Solid Sneakers',
 'Men Leather Sneakers',
 'Men Deviate Nitro Running Shoe',
 'Leather Sneakers',
 'Women Edge Lux 4 Running',
 'Men Leather Driving Shoes',
 'Men Supernova Running Shoes',
 'Men Textured Sneakers',
 'Men Textured Sneakers',
 'Men Textured Leather Loafers',
 'HOVR Infinite 2 Running Shoes',
 'Men Running Shoes',
 'Men Textured Oxfords',
 'Men Woven Design Sneakers',
 'Men Solid Loafers',
 'Men Woven Design Loafers',
 'Men Woven Design Sneakers',
 'Men Colourblocked Sneakers',
 'Men Perforated Mule Sneakers',
 'Woven Design Casual Sneakers',
 'Men Woven Design Sneakers',
 'Women Open Toe Flats',
 'Men Leather Formal Monks']

In [78]:
# extracting price data 

price=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    shoe_price=driver.find_elements_by_xpath('//div[@class="product-price"]')
    for i in shoe_price[:100]:
        price.append(i.text)
        
price[:100]

['Rs. 11999',
 'Rs. 12316Rs. 17595(30% OFF)',
 'Rs. 12316Rs. 17595(30% OFF)',
 'Rs. 7721Rs. 10295(25% OFF)',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 6795Rs. 7995(15% OFF)',
 'Rs. 12999',
 'Rs. 8999',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 11999',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 6965Rs. 8195(15% OFF)',
 'Rs. 6999',
 'Rs. 10999',
 'Rs. 9659Rs. 13999(31% OFF)',
 'Rs. 6999',
 'Rs. 9999',
 'Rs. 12749Rs. 16999(25% OFF)',
 'Rs. 6965Rs. 8195(15% OFF)',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 7999',
 'Rs. 11249Rs. 14999(25% OFF)',
 'Rs. 6999',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 6990',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 6899Rs. 9999(31% OFF)',
 'Rs. 7857Rs. 8449(7% OFF)',
 'Rs. 6990',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 6747Rs. 14995(55% OFF)',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 6990',
 'Rs. 7490',
 'Rs. 7413Rs. 10590(30% OFF)',
 'Rs. 7006Rs. 7149(2% OFF)',
 'Rs. 10490',
 'Rs. 7499',
 'Rs. 7499',
 'Rs. 9999',
 'Rs. 6990',
 'Rs. 8999',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 8999',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7066Rs. 13590(48% OFF)',
 'Rs. 7349Rs. 10499(30% OFF)',
 'Rs. 6995Rs. 13990(50% OFF)',
 'Rs. 6990',
 'Rs. 6675Rs. 8900(25% OFF)',
 'Rs. 6999',
 'Rs. 7194Rs. 11990(40% OFF)',
 'Rs. 8043Rs. 11490(30% OFF)',
 'Rs. 9995',
 'Rs. 6990',
 'Rs. 9995',
 'Rs. 11495',
 'Rs. 11495',
 'Rs. 9999',
 'Rs. 8499',
 'Rs. 12999',
 'Rs. 8195',
 'Rs. 11999',
 'Rs. 9490',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 11249Rs. 14999(25% OFF)',
 'Rs. 10999',
 'Rs. 7999',
 'Rs. 9990',
 'Rs. 9499Rs. 9999(5% OFF)',
 'Rs. 7039Rs. 10999(36% OFF)',
 'Rs. 8590',
 'Rs. 7690',
 'Rs. 11999',
 'Rs. 11999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 7990',
 'Rs. 7999',
 'Rs. 8500',
 'Rs. 8650',
 'Rs. 6999',
 'Rs. 7052Rs. 10850(35% OFF)',
 'Rs. 7999',
 'Rs. 11999',
 'Rs. 7999Rs. 15999(50% OFF)']

10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

1. title
2. Ratings
3. Price

In [79]:
# searching for amazone url

url="https://www.amazon.in/"

In [80]:
# getting url

driver.get(url)

In [81]:
# searching for laptops

search_laptops=driver.find_element_by_id("twotabsearchtextbox")

search_laptops

In [82]:
#sending key words for laptop

search_laptops.send_keys('Laptop')

In [83]:
# clicking the search button

search_btn=driver.find_element_by_id('nav-search-submit-button')

search_btn.click()

In [84]:
# searching for cpu intel core i7 & i9

search_cpu=driver.find_element_by_xpath('//span[@class="a-size-base a-color-base a-text-bold"]')

search_cpu

In [85]:
# clicking for i7 processor

i7=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')

i7.click()

In [86]:
# clicking for i9 processor

i9=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/span')

i9.click()

In [87]:
# getting all the urls

urls=[]
for i in driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a'):
    urls.append(i.get_attribute('href'))

In [88]:
# extracting only 10 laptop titles data

titles=[]
laptoptitles=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in laptoptitles:
    titles.append(i.text)

titles[:10]

['Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'MSI GS66 Stealth, Intel 10th Gen. i7-10875H, 15.6" (39.62cms) FHD Gaming Laptop (16GB*2/1TB NVMe SSD/Windows 10 Home/Nvidia RTX 2070 Super Max-Q/ Black/2.1Kg), 10SFS-488IN',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'HP Pavilion x360 (2021) 14" (35.56cms) FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader (14-dw1040TU)',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam',
 'MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39.6 cm) IPS-Level 144Hz Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1660 Ti 6GB GDDR6/Black/1.86Kg), 10SDR-1280IN',
 'Dell G3 3500 Gaming Laptop 15.6" (39.62cms) FHD 120 Hz (10th Gen Core i7-10750H/8GB/512GB SSD/Windows 10 Home Plus & MS Office/NVIDIA1650 Ti Graphics/Eclipse Black) D560260WIN9BE',
 'ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11th Gen 14" (35.56cms) FHD T&L Laptop (16GB RAM/512GB NVMe SSD/Windows 10/MS Office 2019/Intel Iris Xáµ‰ Graphics/Pine Grey/1.17 kg), UX425EA-BM701TS',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'ASUS ROG Strix G15 (2020), 15.6" FHD 144Hz, Intel Core i7-10750H 10th Gen, GTX 1660 Ti 6GB Graphics, Gaming Laptop (16GB RAM/1TB SSD/Office 2019/Windows 10/Electro Punk/2.3 Kg), G512LU-HN263TS']

In [89]:
#extracting 10 laptop price data

price=[]
laptop_price=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
for i in laptop_price:
    price.append(i.text)

price[:10]

['54,999',
 '2,56,075',
 '84,990',
 '78,993',
 '59,999',
 '94,089',
 '86,390',
 '1,04,000',
 '83,990',
 '1,02,990']

In [90]:
# extracting 10 laptop rating data

rating=[]
for i in urls[:10]:
    driver.get(i)
    time.sleep(1)
    laptop_rating=driver.find_elements_by_xpath('//span[@class="a-size-base a-nowrap"]/span')
    for i in laptop_rating:
        rating.append(i.text)
        
rating[:10]

['4.4 out of 5',
 '2 out of 5',
 '4.5 out of 5',
 '4 out of 5',
 '4.4 out of 5',
 '3.8 out of 5',
 '4.2 out of 5',
 '4.4 out of 5',
 '4 out of 5',
 '5 out of 5']