Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.This task will be done in following steps:

In [32]:
!pip install selenium

Requirement already satisfied: selenium in /opt/anaconda3/lib/python3.8/site-packages (3.141.0)
Requirement already satisfied: urllib3 in /opt/anaconda3/lib/python3.8/site-packages (from selenium) (1.26.4)

In [33]:
# importing all the required libraries

import selenium 
import pandas as pd
from selenium import webdriver

import time
from selenium.common.exceptions import NoSuchElementException

In [34]:
# connecting to the web driver
driver = webdriver.Chrome(r"//Users/prajwalkunder/Downloads/chromedriver")

In [4]:
# getting the webpage https://www.naukri.com/
url= "https://www.naukri.com/"
driver.get(url)

In [5]:
# searching the web_element
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_location = driver.find_element_by_id("qsb-location-sugg")

In [6]:
# Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

search_job.send_keys("Data Analyst") 
search_location.send_keys("Bangalore")

In [7]:
# Then click the search button.
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [8]:
# Then scrape the data for the first 10 jobs results you get.
titles_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") 
companies_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
experience_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [9]:
# writing for loop for the scraped data to convert into text.

job_titles=[]
for i in titles_tag:
    job_titles.append(i.text)
    
company_name=[]
for i in companies_tag:
    company_name.append(i.text)

experience_list=[]
for i in experience_tag:
    experience_list.append(i.text)
    
location_list=[]
for i in location_tag:
    location_list.append(i.text)

In [10]:
# checking collected data length

print(len(job_titles),len(company_name),len(experience_list),len(location_list))

20 20 20 20

In [11]:
# creating dataframe for the scraped data.

jobs = pd.DataFrame({}) 
jobs['title']=job_titles
jobs['company']=company_name
jobs['experience']=experience_list
jobs['location']=location_list

In [12]:
# getting only 10 data by using range method.
df = pd.DataFrame(jobs)
company_jobs = df.drop(range(10,20))

In [13]:
company_jobs

,title,company,experience,location
0,Senior Data Analyst,Flipkart Internet Private Limited,4-5 Yrs,Bangalore/Bengaluru
1,Data Analyst,Zilingo.com,0-4 Yrs,Bangalore/Bengaluru
2,Data Analyst (Data Stewards)//Immediate Joiner...,Tech Mahindra Ltd.,5-10 Yrs,Bangalore/Bengaluru
3,Data Analyst with Replicon Software,Replicon Software (India) Pvt Ltd,2-4 Yrs,Bangalore/Bengaluru
4,Data Analyst / Sr. Data Analyst - SQL,Naukri Premium - Employer Services,2-5 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,Publicis Groupe,5-9 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst,Publicis Groupe,6-8 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst,Publicis Groupe,1-7 Yrs,Bangalore/Bengaluru
8,Senior Associate - Data Analyst,Sapient,4-6 Yrs,Bangalore/Bengaluru
9,Senior Associate - Data Analyst,Publicis Groupe,1-3 Yrs,Bangalore/Bengaluru

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [41]:
# getting the webpage https://www.naukri.com/
url= "https://www.naukri.com/"
driver.get(url)

In [42]:
# Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
search_job=driver.find_element_by_id("qsb-keyword-sugg") 
search_location = driver.find_element_by_id("qsb-location-sugg")

In [43]:
search_job.send_keys("Data Scientist")
search_location.send_keys("Bangalore/Bengaluru,")

In [44]:
# Then click the search button.
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [45]:
# Scrape the data for the first 10 jobs results.
titles_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") 
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']") 
companies_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [46]:
# writing for loop for the scraped data to convert into text.

job_titles=[]
for i in titles_tag:
    job_titles.append(i.text)

location_list=[]
for i in location_tag:
    location_list.append(i.text)    
    
company_name=[]
for i in companies_tag:
    company_name.append(i.text)

In [47]:
#Fetching url's
urls=[]
for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    urls.append(i.get_attribute('href'))

In [48]:
len(urls)

20

In [49]:
# Extracting job description data.
description_tag=[]
for i in urls:
    driver.get(i)
    time.sleep(1) 
    try:
        description=driver.find_element_by_xpath('//section[@class="job-desc"]')
        description_tag.append(description.text)
    except NoSuchElementException:
        description_tag.append('-')

In [50]:
# checking collected data length
print(len(job_titles),len(company_name),len(location_list),len(description_tag))

20 20 20 20

In [51]:
# creating dataframe for the scraped data.

jobs = pd.DataFrame({}) 
jobs['title']=job_titles
jobs['location']=location_list
jobs['company']=company_name
jobs['job_description']=description_tag

In [52]:
# getting only 10 data by using range method.
df = pd.DataFrame(jobs)
company_jobs = df.drop(range(10,20))

In [53]:
company_jobs

,title,location,company,job_description
0,Data Scientist,Bangalore/Bengaluru,Flipkart Internet Private Limited,Job description\nAbout the team\nThe Data Scie...
1,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,Job description\nJob description\n\nJob Role: ...
2,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited,-
3,Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited,-
4,"EXL - Senior Data Scientist, 5+ yrs, Mumbai / ...","Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR",EXL Service,Job description\nMinimum Qualifications: (Spec...
5,Senior Data Scientist,Bangalore/Bengaluru,Superior Group,Job description\nKey Responsibilities:\nProvid...
6,Sr Data Scientist,Bangalore/Bengaluru,FabHotel Aay Kay Model Town,"Job description\nAs as Senior Data Scientist, ..."
7,Sr Data Scientist,Bangalore/Bengaluru,Baker Hughes Incorporated,"Job description\nAs as Senior Data Scientist, ..."
8,Sr Data Scientist,Bangalore/Bengaluru,Baker Hughes - The Network,"Job description\nAs as Senior Data Scientist, ..."
9,Senior Data Scientist,Bangalore/Bengaluru,ORMAE (Operations Research Machine learning & ...,Job description\n2-10 years experience in mach...




Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [54]:
#getting the webpage https://www.naukri.com/
driver = webdriver.Chrome(r"//Users/prajwalkunder/Downloads/chromedriver")

In [55]:
webpage = "https://www.naukri.com/"
driver.get(webpage)

In [56]:
url= "https://www.naukri.com/"
driver.get(url)

In [57]:
#searching for the data scientists job position
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [58]:
#Sending the keys for the position
search_job.send_keys('Data Scientist')

In [59]:
#searching for the search button
search_btn=driver.find_element_by_class_name('btn')
search_btn.click()

In [60]:
#locating the location as delhi
filter_button=driver.find_elements_by_xpath('span[@class="fw500"]')
for i in filter_button:
    if i.text=='Delhi / NCR':
        i.click()
        break

In [61]:
#locating the salary
filter_button=driver.find_elements_by_xpath('span[@class="fw500"]/span')
for i in filter_button:
    if i.text=='3-6 Lakhs':
        i.click()
        break

In [62]:
#searching for job title
job_title=[]
title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in title[:10]:
    job_title.append(i.text)
job_title

['Data Scientist',
 'Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist/Data Analyst /Business Analyst',
 'Data Scientists and Engineers',
 'Data Scientist: Advanced Analytics',
 'Data Scientist',
 'Junior Data Scientist/Data Analyst - Remote',
 'Analyst / Data Scientist',
 'Sr Data Scientist / Data Science Lead | GeakMinds | Chennai',
 'EXL - Senior Data Scientist, 5+ yrs, Mumbai / PUNE / BLR / Chennai']

In [63]:
#searching for comany name
company_names=[]
companies=driver.find_elements_by_xpath('//div[@class="mt-7 companyInfo subheading lh16"]/a')
for i in companies[:10]:
    company_names.append(i.text)
company_names

['Flipkart Internet Private Limited',
 '(3367 Reviews)',
 'Inflexion Analytix Private Limited',
 'Inflexion Analytix Private Limited',
 'PFIZER LIMITED',
 '(1237 Reviews)',
 'IBM India Pvt. Limited',
 '(9953 Reviews)',
 'IBM India Pvt. Limited',
 '(9953 Reviews)']

In [64]:
#location
location=[]
area=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
for i in area[:10]:
    location.append(i.text)
location

['Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Pune, Delhi / NCR, Mumbai (All Areas)',
 'Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai',
 'Hyderabad/Secunderabad',
 'Chennai',
 'Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR']

In [65]:
#experience
experience=[]
total=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
for i in total[:10]:
    experience.append(i.text)
experience

['0-5 Yrs',
 '0-3 Yrs',
 '0-3 Yrs',
 '4-8 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '0-3 Yrs',
 '2-4 Yrs',
 '4-8 Yrs',
 '5-10 Yrs']

In [66]:
# creating dataframe for the scraped data.
jobs=pd.DataFrame({})
jobs['Job_titles']=job_title
jobs['Job_location']=location
jobs['Company_names']=company_names
jobs['Experience']=experience

In [67]:
jobs

,Job_titles,Job_location,Company_names,Experience
0,Data Scientist,Bangalore/Bengaluru,Flipkart Internet Private Limited,0-5 Yrs
1,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",(3367 Reviews),0-3 Yrs
2,Data Scientist/Data Analyst /Business Analyst,"Pune, Delhi / NCR, Mumbai (All Areas)",Inflexion Analytix Private Limited,0-3 Yrs
3,Data Scientists and Engineers,Chennai,Inflexion Analytix Private Limited,4-8 Yrs
4,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,PFIZER LIMITED,5-10 Yrs
5,Data Scientist,Bangalore/Bengaluru,(1237 Reviews),3-6 Yrs
6,Junior Data Scientist/Data Analyst - Remote,Chennai,IBM India Pvt. Limited,0-3 Yrs
7,Analyst / Data Scientist,Hyderabad/Secunderabad,(9953 Reviews),2-4 Yrs
8,Sr Data Scientist / Data Science Lead | GeakMi...,Chennai,IBM India Pvt. Limited,4-8 Yrs
9,"EXL - Senior Data Scientist, 5+ yrs, Mumbai / ...","Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR",(9953 Reviews),5-10 Yrs

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [4]:
# getting the webpage https://www.glassdoor.co.in/index.htm
url= "https://www.glassdoor.co.in/index.htm"
driver.get(url)

In [5]:
# searching the web_element
#Enter “Data Scientist” in “Job Title,Keyword,Company” field

search_job = driver.find_element_by_id("KeywordSearch")
search_job.send_keys("Data Scientist")

In [7]:
# enter “Noida” in “location” field.

search_job = driver.find_element_by_id("LocationSearch")
search_job.send_keys("Noida (India)")

In [8]:
# Then click the search button.
search_btn = driver.find_element_by_id("HeroSearchButton")
search_btn.click()

In [20]:
# scraping the data for the first 10 jobs results.
company_name = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']") 
no_of_days = driver.find_elements_by_xpath("//div[@data-test='job-age']")
company_rating = driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']")

In [22]:
# writing for loop for the scraped data to convert into text.
company_NAME=[]
for i in company_name:
    company_NAME.append(i.text)

NO_of_days=[]
for i in no_of_days:
    NO_of_days.append(i.text)
    
company_RATING=[]
for i in company_rating:
    company_RATING.append(i.text)

In [25]:
# checking collected data length

print(len(company_NAME),len(NO_of_days),len(company_RATING))

32 32 32

In [26]:
# create a dataframe of the scraped data.

company= pd.DataFrame({})
company['COMPANY']=company_NAME
company['NO_OF_DAYS']=NO_of_days
company['RATING']=company_RATING

In [28]:
df= pd.DataFrame(company)
COMPANY = df.drop(range(10,32))

In [29]:
COMPANY

                                           COMPANY NO_OF_DAYS RATING
0                                          Taboola        24d    4.2
1                                          Bechtel         7d    4.0
2  Siemens Technology and Services Private Limited        17d    4.1
3                                            Crowe         4d    3.8
4                                         Ericsson         4d    4.1
5                                  Priority Vendor         4d    3.7
6                                   Biz2Credit Inc        13d    3.9
7                                        Algoscale         4d    3.8
8                             Gauge Data Solutions         4d    3.0
9                                    Data Patterns        20d    3.1

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm 2. Enter “Data Scientist” in Job title field and “Noida” in location field. 3. Click the search button.
4. After that you will land on the below page

In [83]:
# getting the webpage https://www.glassdoor.co.in/Salaries/index.htm 
url= "https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)

In [84]:
# searching the web_element
#Enter “Data Scientist” in Job Title field and "Noida" in location field.

search_job = driver.find_element_by_id("KeywordSearch")
search_job.send_keys("Data Scientist")

In [85]:
# clear the location which is already exist
search_job = driver.find_element_by_id("LocationSearch")
search_job.clear( )

In [86]:
#Searching for noida location
search_loc=driver.find_element_by_id("LocationSearch")
search_loc.send_keys('Noida (India)')

In [87]:
# Then click the search button.
search_btn = driver.find_element_by_id("HeroSearchButton")
search_btn.click()

In [ ]:
# extracting company names

company_names=[]
companies = driver.find_elements_by_xpath('//h3[@class="m-0 css-g261rn"]/a')
for i in companies:
    company_names.append(i.text)

company_name[:10]

In [ ]:
# extracting data for number of salaries

total_salaries=[]
salaries=driver.find_elements_by_xpath('//span[@class="m-0 css-1b6bxoo"]')
for i in salaries:
    total_salaries.append(i.text)

total_salaries[2:12]

In [ ]:
# extracting Average salary data

average_salary=[]
salary=driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]/h3')
for i in salary:
    average_salary.append(i.text)

average_salary[:10]

In [ ]:
# extracting minimum salary data

min_max_salary=[]
salary=driver.find_elements_by_xpath('//span[@class="d-block d-lg-none m-0 css-1b6bxoo"]')
for i in salary:
    min=i.text
    min_max_salary.append(min)

min_max_salary[:10]

In [ ]:
# extracting rating of the company data

rating=[]
companyrating=driver.find_elements_by_xpath('//span[@class="m-0 css-kyx745"]')
for i in companyrating:
    rating.append(i.text)

rating[:10]

In [ ]:
glassdoor_salaries=pd.DataFrame({'Company_Names':company_names[:10],'No_of_salaries':total_salaries[2:12],'Average_salary':average_salary[:10],"Min_Max_salary":min_max_salary[:10],'Company Rating':rating[:10]},index=range(0,10,1))
glassdoor_salaries[:10]

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [21]:
# connecting to the web driver
driver = webdriver.Chrome(r"//Users/prajwalkunder/Downloads/chromedriver")

In [4]:
# getting the webpage https://www.flipkart.com/

url= "https://www.flipkart.com/"
driver.get(url)

In [5]:
# closing popup window
search_btn=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']") 
search_btn.click()

In [6]:
# searching the web_element
#Enter “sunglasses” in the search field where “search for products, brands and more” 
search_bar = driver.find_element_by_xpath("//input[@class='_3704LK']") 
search_bar.send_keys("sunglasses")

In [8]:
# click on search bar
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [9]:
# fecthing all the url's

urls=[]
for i in driver.find_elements_by_xpath('//*[@class="ge-49M _2Kfbh8" or @class="ge-49M"]'):
    urls.append(i.get_attribute('href'))

urls

['https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=1',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=2',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=3',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=4',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=5',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=6',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=7',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=8',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=9',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=10']

In [10]:
# searching for brand name

brand=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    search_brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in search_brand[:10]:
        brand.append(i.text)
        
brand[:100]

['PIRASO',
 'Wrogn',
 'kingsunglasses',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'kingsunglasses',
 'PIRASO',
 'Fastrack',
 'Fastrack',
 'Singco India',
 'kingsunglasses',
 'Singco India',
 'ROYAL SON',
 'NuVew',
 'ROZZETTA CRAFT',
 'hipe',
 'ROYAL SON',
 'kingsunglasses',
 'ROYAL SON',
 'DEIXELS',
 'AISLIN',
 'GANSTA',
 'PIRASO',
 'Singco India',
 'Singco India',
 'kingsunglasses',
 'Wrogn',
 'Wrogn',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'ROYAL SON',
 'PIRASO',
 'Fastrack',
 'Fastrack',
 'hipe',
 'PIRASO',
 'IRUS by IDEE',
 'PHENOMENAL',
 'elegante',
 'GANSTA',
 'AISLIN',
 'PIRASO',
 'Fastrack',
 'Fastrack',
 'AISLIN',
 'Wrogn',
 'elegante',
 'kingsunglasses',
 'Fastrack',
 'DEIXELS',
 'Fastrack',
 'PIRASO',
 'Silver Kartz',
 'Ray-Ban',
 'FOSSIL',
 'Wrogn',
 'Fastrack',
 'NuVew',
 'United Colors of Benetton',
 'SRPM',
 'ROYAL SON',
 'PIRASO',
 'Billion',
 'United Colors of Benetton',
 'Fastrack',
 'Wrogn',
 'AISLIN',
 'Fastrack',
 'Ray-Ban',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'Ray-Ban',
 'Elligator',
 'NuVew',
 'Wrogn',
 'IDEE',
 'GANSTA',
 'AISLIN',
 'Wrogn',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'PETER JONES',
 'hipe',
 'Wrogn',
 'NuVew',
 'ROYAL SON',
 'ROYAL SON',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'kingsunglasses',
 'Fastrack',
 'Fastrack',
 'Wrogn',
 'Fastrack',
 'PIRASO']

In [14]:
# searching for product description

description=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    product=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in product:
        description.append(i.text)
        
description[:100]

['UV Protection Aviator Sunglasses (54)',
 'Mirrored Wayfarer Sunglasses (51)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'Polarized, UV Protection Round Sunglasses (49)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection Round Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Mirrored, UV Protection Wayfarer, Wayfarer, Wayfarer, W...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'Mirrored Wayfarer Sunglasses (51)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (49)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Polarized, UV Protection Round Sunglasses (53)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Recta...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection, Night Vision, Gradient, Mirrored Round, ...',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored Aviator Sunglasses (53)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (56)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'Mirrored Wayfarer Sunglasses (51)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (64)',
 'Gradient Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (49)',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (56)',
 'Polarized, UV Protection Round Sunglasses (53)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'Mirrored Retro Square Sunglasses (57)',
 'Mirrored Aviator Sunglasses (55)']

In [15]:
# searching for product price
price=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    cost=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in cost:
        price.append(i.text)
        
price[:100]

['₹237',
 '₹663',
 '₹299',
 '₹513',
 '₹758',
 '₹237',
 '₹349',
 '₹237',
 '₹509',
 '₹771',
 '₹655',
 '₹599',
 '₹299',
 '₹225',
 '₹1,010',
 '₹657',
 '₹399',
 '₹612',
 '₹259',
 '₹657',
 '₹297',
 '₹499',
 '₹331',
 '₹375',
 '₹331',
 '₹251',
 '₹399',
 '₹499',
 '₹213',
 '₹349',
 '₹404',
 '₹751',
 '₹399',
 '₹592',
 '₹449',
 '₹499',
 '₹281',
 '₹522',
 '₹647',
 '₹657',
 '₹299',
 '₹352',
 '₹236',
 '₹663',
 '₹449',
 '₹215',
 '₹210',
 '₹237',
 '₹249',
 '₹215',
 '₹738',
 '₹657',
 '₹237',
 '₹399',
 '₹399',
 '₹599',
 '₹299',
 '₹375',
 '₹210',
 '₹339',
 '₹214',
 '₹197',
 '₹319',
 '₹657',
 '₹549',
 '₹262',
 '₹205',
 '₹699',
 '₹252',
 '₹235',
 '₹499',
 '₹331',
 '₹398',
 '₹733',
 '₹299',
 '₹499',
 '₹655',
 '₹209',
 '₹782',
 '₹237',
 '₹292',
 '₹449',
 '₹219',
 '₹237',
 '₹331',
 '₹212',
 '₹260',
 '₹663',
 '₹315',
 '₹538',
 '₹1,828',
 '₹657',
 '₹1,021',
 '₹539',
 '₹299',
 '₹599',
 '₹249',
 '₹314',
 '₹711',
 '₹339']

In [16]:
#extracting discount data

discount=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    discount_price=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span')
    for i in discount_price[:10]:
        discount.append(i.text)
        
discount[:100]

['85% off',
 '73% off',
 '88% off',
 '35% off',
 '15% off',
 '85% off',
 '78% off',
 '85% off',
 '36% off',
 '14% off',
 '80% off',
 '70% off',
 '84% off',
 '73% off',
 '77% off',
 '72% off',
 '83% off',
 '85% off',
 '79% off',
 '78% off',
 '85% off',
 '83% off',
 '72% off',
 '85% off',
 '83% off',
 '78% off',
 '86% off',
 '73% off',
 '81% off',
 '74% off',
 '16% off',
 '70% off',
 '72% off',
 '85% off',
 '15% off',
 '18% off',
 '84% off',
 '85% off',
 '52% off',
 '87% off',
 '88% off',
 '68% off',
 '67% off',
 '85% off',
 '73% off',
 '70% off',
 '31% off',
 '73% off',
 '78% off',
 '77% off',
 '85% off',
 '63% off',
 '11% off',
 '85% off',
 '77% off',
 '70% off',
 '73% off',
 '58% off',
 '10% off',
 '72% off',
 '67% off',
 '79% off',
 '72% off',
 '85% off',
 '76% off',
 '65% off',
 '73% off',
 '79% off',
 '12% off',
 '10% off',
 '77% off',
 '72% off',
 '64% off',
 '85% off',
 '80% off',
 '88% off',
 '65% off',
 '73% off',
 '13% off',
 '70% off',
 '3% off',
 '72% off',
 '65% off',
 '85% off',
 '74% off',
 '83% off',
 '79% off',
 '73% off',
 '64% off',
 '73% off',
 '65% off',
 '11% off',
 '11% off',
 '73% off',
 '77% off',
 '18% off',
 '11% off',
 '85% off',
 '4% off',
 '79% off']

In [17]:
# making dataframe for the extracted data.
import pandas as pd

sun_glasses=pd.DataFrame({'PRODUCT BRAND':brand[:100], 'PRODUCT DESCRIPTION':description[:100], 'PRODUCT PRICE':price[:100], 'PRODUCT DISCOUNT':discount[:100]}, index=range(0,100,1))

sun_glasses

,PRODUCT BRAND,PRODUCT DESCRIPTION,PRODUCT PRICE,PRODUCT DISCOUNT
0,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
1,Wrogn,Mirrored Wayfarer Sunglasses (51),₹663,73% off
2,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299,88% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,35% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
...,...,...,...,...
95,Fastrack,"Polarized, UV Protection Round Sunglasses (53)",₹599,18% off
96,Fastrack,"Mirrored, UV Protection Aviator Sunglasses (56)",₹249,11% off
97,Wrogn,"UV Protection, Gradient Wayfarer Sunglasses (53)",₹314,85% off
98,Fastrack,Mirrored Retro Square Sunglasses (57),₹711,4% off
99,PIRASO,Mirrored Aviator Sunglasses (55),₹339,79% off

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-6gbincludes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [39]:
# searching flipkart url

url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.'

In [40]:
#getting url

driver.get(url)

In [41]:
url=[]
for i in driver.find_elements_by_xpath('//*[@class="ge-49M _2Kfbh8" or @class="ge-49M"]'):
    urls.append(i.get_attribute('href'))
    
urls

['https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=1',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=2',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=3',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=4',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=5',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=6',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=7',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=8',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=9',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=10',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=1',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=2',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=3',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=4',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=5',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=6',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=7',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=8',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=9',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=10']

In [42]:
# extracting rating of the product data

rating=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    product_rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for i in product_rating:
        rating.append(i.text)
        
len(rating)

175

In [28]:
# extracting review summary data
review_summary=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for i in summary:
        review_summary.append(i.text)
        
len(review_summary)

200

In [29]:
# extracting full reviews
full_reviews=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    reviews=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for i in reviews:
        full_reviews.append(i.text)
        
len(full_reviews)

200

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker : 
1. Brand
2. Product Description
3. Price
4. discount 

As shown in the below image, you have to scrape the tick marked attributes.

In [43]:
# extracting url for 100 sneakers on flipkart

url="https://www.flipkart.com/"

In [44]:
# getting url
driver.get(url)

In [45]:
# closing popup window
search_btn=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']") 
search_btn.click()

In [46]:
# sending sneakers word to search bar 

search_sneakers=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_sneakers.send_keys('sneakers')

In [49]:
# entering search button

search_btn=driver.find_elements_by_xpath("//button[@class='L0Z3Pu']")

In [52]:
# getting all the urls
urls=[]
for i in driver.find_elements_by_xpath('//*[@class="ge-49M _2Kfbh8" or @class="ge-49M"]'):
    urls.append(i.get_attribute('href'))
urls

['https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10']

In [53]:
#extracting product brnad

brand=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    shoe_brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in shoe_brand[:100]:
        brand.append(i.text)
        
brand

['DUCATI',
 'Nilatin',
 'Robbie jones',
 'CALCADOS',
 'PEHANOSA',
 'Chevit',
 'Nilatin',
 'Chevit',
 'Shoes Bank',
 'World Wear Footwear',
 'Labbin',
 'Robbie jones',
 'Numenzo',
 'ASTEROID',
 'Birde',
 'Numenzo',
 'believe',
 'ESSENCE',
 'Robbie jones',
 'Chevit',
 'Numenzo',
 'Chevit',
 'bluemaker',
 'DUCATI',
 'Chevit',
 'Chevit',
 'Stefano Rads',
 'DUCATI',
 'HOTSTYLE',
 'SCATCHITE',
 'World Wear Footwear',
 'STRANGER BROTHERS',
 'T-ROCK',
 'Absolute comfort',
 'Jokatoo',
 'Next INN',
 'D-SNEAKERZ',
 'Birde',
 'STRANGER BROTHERS',
 'Echor',
 'SPARX',
 'bluemaker',
 'kardam&sons',
 'DUCATI',
 'Robbie jones',
 '3SIX5',
 'Fzzirok',
 'Echor',
 'SPARX',
 'Robbie jones',
 'BRUTON',
 'Nilatin',
 'Absolute comfort',
 'HOTSTYLE',
 'ESSENCE',
 'Numenzo',
 'Jack Diamond',
 'Ktiz',
 'bluemaker',
 'BRUTON',
 'Lee Won',
 'Zsyto',
 'Robbie jones',
 'CLUNZ',
 'Zsyto',
 'kardam&sons',
 'Robbie jones',
 'WELDONE',
 'M K FOOTWEAR',
 'Chevit',
 'Birde',
 'Chevit',
 'Robbie jones',
 'D-SNEAKERZ',
 'T-ROCK',
 'Chevit',
 'HOCKWOOD',
 'kardam&sons',
 'PUMA',
 'Chevit',
 'PUMA',
 'Birde',
 'BRUTON',
 'DUCATI',
 'SPARX',
 'Zsyto',
 'NIKE',
 'Nilatin',
 'ESSENCE',
 'Zorth',
 'SPARX',
 'Chevit',
 'SPARX',
 'Zixer',
 'Fzzirok',
 'Robbie jones',
 'Chevit',
 'REEBOK',
 'DEER ROCK',
 'Nilatin',
 'HOCKWOOD',
 'SPARX',
 'ALAN COSTO',
 'Numenzo',
 'PUMA',
 'Magnolia',
 'STRANGER BROTHERS',
 'Chevit',
 'Fzzirok',
 'BRUTON',
 'PUMA',
 'Chevit',
 'Ktiz',
 'SHOEFLY',
 'Zorth',
 'Chevit',
 'lejano',
 'RODDICK SHOES',
 'Vellinto',
 'DUCATI',
 'SPARX',
 'SUSON',
 'mannu',
 'DUCATI',
 'Chevit',
 'Absolute comfort',
 'Zorth',
 'Echor',
 'FILA',
 'SPARX',
 'Tying',
 'Nilatin',
 'Robbie jones',
 'Robbie jones',
 'Bonexy',
 'Chevit',
 'Birde',
 'BRUTON',
 'Wakefield',
 'Robbie jones',
 'RED TAPE',
 'Aura',
 'FILA',
 'Nilatin',
 'SPARX',
 'SPARX',
 'Red Eagle',
 'Numenzo',
 'URBANBOX',
 'M K FOOTWEAR',
 'SPARX',
 'Chevit',
 'M K FOOTWEAR',
 'Chevit',
 'URBANBOX',
 'Chevit',
 'WRIZT',
 'M K FOOTWEAR',
 'bacca bucci',
 'DUCATI',
 'M K FOOTWEAR',
 'Chevit',
 'SPARX',
 'DUCATI',
 'Chevit',
 'Chevit',
 'PUMA',
 'Nilatin',
 'BRUTON',
 'Chevit',
 'Chevit',
 'Chevit',
 'Jack Diamond',
 'PUMA',
 'SPARX',
 'Robbie jones',
 'SPARX',
 'U.S. POLO ASSN.',
 'KRAFTER',
 'Numenzo',
 'ADIDAS',
 'ESSENCE',
 'ADIDAS',
 'luxury fashion',
 'Absolute comfort',
 'well feet',
 'PROVOGUE',
 'Chevit',
 'PUMA',
 'Numenzo',
 'Absolute comfort',
 'Chevit',
 'LoveHush',
 'SPARX',
 'Robbie jones',
 'Chevit',
 'Alfiya',
 'Axter',
 'Creer',
 'DUCATI',
 'PUMA',
 'PUMA',
 'ROAR SHOES',
 'DUCATI',
 'Chevit',
 'RED TAPE',
 'NIKE',
 'Nilatin',
 'luxury fashion',
 'M K FOOTWEAR',
 'PUMA',
 'Chevit',
 'SPARX',
 'Adiso',
 'SPARX',
 'Robbie jones',
 'Echor',
 'SPADE CLUB',
 'PUMA',
 'Nilatin',
 'Longwalk',
 'Chevit',
 'U.S. POLO ASSN.',
 'Numenzo',
 'CRYSTA',
 'Chevit',
 'Chevit',
 'luxury fashion',
 'Airland',
 'bacca bucci',
 'SUSON',
 'Chevit',
 'PROVOGUE',
 'Creer',
 'PUMA',
 'Chevit',
 'Chevit',
 'ozzy',
 'Edoeviv',
 'Chevit',
 'Birde',
 'DUCATI',
 'BRUTON',
 'DUCATI',
 'SUSON',
 'Bonexy',
 'PUMA',
 'Echor',
 'M K FOOTWEAR',
 'ESSENCE',
 'India hub',
 'Chevit',
 'Robbie jones',
 'ADIDAS',
 'ADIDAS',
 'Robbie jones',
 'ROCKFIELD',
 'Zorth',
 'PUMA',
 'Nilatin',
 'PUMA',
 'PUMA',
 'ESSENCE',
 'Numenzo',
 'Robbie jones',
 'PUMA',
 'SPARX',
 'luxury fashion',
 'SHOEFLY',
 'STRANGER BROTHERS',
 'SQR',
 'BRUTON',
 "LEVI'S",
 'NIKE',
 'RED TAPE',
 'CLUNZ',
 'Chevit',
 'PUMA',
 'bluemaker',
 'WELDONE',
 'PUMA',
 'Creer',
 'DUCATI',
 'DUCATI',
 'Chevit',
 'Chevit',
 'Zsyto',
 'Chevit',
 'Red Rose',
 'kardam&sons',
 'T-ROCK',
 'Robbie jones',
 'SPARX',
 'KULP',
 'PUMA',
 'Numenzo',
 'NIKE',
 'PUMA',
 'SUSON',
 'luxury fashion',
 'PUMA',
 'M K FOOTWEAR',
 'NIKE',
 'CLUNZ',
 'U.S. POLO ASSN.',
 'Numenzo',
 'Absolute comfort',
 'BRUTON',
 'PUMA',
 'PUMA',
 'BRUTON',
 'WELDONE',
 'FILA',
 'SPARX',
 'PUMA',
 'Chevit',
 'PUMA',
 'SPARX',
 'Extoes',
 'Chevit',
 'HOCKWOOD',
 'Xtoon',
 'Skechers',
 'DUCATI',
 'Tryviz',
 'U.S. POLO ASSN.',
 'sneaker hub',
 'Echor',
 'PUMA',
 'NIKE',
 'Echor',
 'Chevit',
 'Ronson',
 'BRUTON',
 'Dicy',
 'Robbie jones',
 'PROVOGUE',
 'SUSON',
 'JACK & JONES',
 'Nilatin',
 'ADIDAS',
 'RED TAPE',
 'FILA',
 'Numenzo',
 'Kraasa',
 'Longwalk',
 'PUMA',
 'luxury fashion',
 'ADIDAS',
 'NIKE',
 'SPARX',
 'BRUTON',
 'World Wear Footwear',
 'Englewood',
 'PUMA',
 'CLUNZ',
 'ADIDAS',
 'DUCATI',
 'Wrogn',
 'WELDONE',
 'U.S. POLO ASSN.',
 'TR',
 'BRUTON',
 'Echor',
 'NIKE',
 'SPARX',
 'NIKE',
 'DUCATI',
 'HOTSTYLE',
 'Skechers',
 'RED TAPE',
 'Chevit',
 'RED TAPE',
 'PROVOGUE',
 'REEBOOT',
 'Robbie jones',
 'Chevit',
 'Rising Wolf',
 'Vans on',
 'Nilatin',
 'DUCATI',
 'PUMA',
 'SPARX',
 'Numenzo',
 'RED TAPE',
 'PUMA',
 'French Connection',
 'CLUNZ',
 'bacca bucci',
 'bacca bucci',
 'Wika',
 'BRUTON',
 'PUMA',
 'otoos',
 'Wrogn',
 'WELDONE',
 'Axter',
 'ADIDAS',
 'DUCATI',
 'Chevit']

In [54]:
# extracting description data

description=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    product_description=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in product_description[:100]:
        description.append(i.text)
        
description

['Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Black Sneaker For Men Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Sneakers For Men',
 'Black Sneaker For Men Sneakers For Men',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'Casuals Sneakers For Men',
 'Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men',
 'Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'casual for men (blue 06) Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Super 445 Fashion Sneakers For Men',
 'Combo Pack of 5 Casual Sneakers With Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Combo Pack of 5 Casual Shoes Loafers Sneakers For Men',
 'SM-322 Sneakers For Men',
 'casual for men (beige 06) Sneakers For Men',
 "Karda Casual Sneakers and Gym Shoes for Men's and Boys ...",
 'Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Black Sneaker For Men Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Combo Pack Of 4 Casual Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Trendy Sneakers For Men',
 'Combo Pack of 5 Casual Sneakers With Sneakers For Men',
 'Rockstyle Trending Multicolor Ultralight canvas Sport/ ...',
 'casual shoe for men Sneakers For Men',
 '2 Pairs Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Synthetic Leather Casual Sneakers Shoes For Men Sneaker...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 "Karda Casual Sneakers and Gym Shoes for Men's and Boys ...",
 'Trenzo II IDP Sneakers For Men',
 'Speeder DP Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Casual sneaker shoes for men Sneakers For Men',
 'SM-162 Sneakers For Men',
 'Court Royale Shoe Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Trendy Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'SM-162 Sneakers For Men',
 'Stylish & Unique Design Combo Pack of 02 Shoes for Men ...',
 'Black Sneaker For Men Sneakers For Men',
 'TREAD LITE LUX Sneakers For Men',
 'Sneakers For Men',
 'SM-482 Sneakers For Men',
 'White Sneakers Sneakers For Men',
 'Trenzo II IDP Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual Shoes For Men Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Combo Pack of 5 Casual Sneakers With Sneakers For Men',
 'Perforated Low IDP Sneakers For Men',
 'Sneakers For Men',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 'Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Re...",
 'SD-323 Sneakers For Men',
 'COMBO-PACK-(3)-SNEAKER-WRBT Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 3 Casual Shoes Sneakers For Men',
 'mnnu casual running shoes, walking shoes, Sneakers For ...',
 'Model name: New Latest Affordable Range of Combo Pack o...',
 'New Fashion Outdoor Trendy Lightweight Casual,Canvas St...',
 'JESS Sneakers For Men',
 'Casual Sneakers Shoes For Men And Boys Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Men's Stylish Casual Shoes Sneakers For Men",
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Combo Pack Of 3 Loafer Shoes Sneakers For Men',
 'Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Gym/Walking/Running Sneakers For Men',
 'Sneakers For Men',
 'MESTO Sneakers For Men',
 'Combo Pack of 5 Casual Sneakers With Sneakers For Men',
 'Fashion Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 'Derico Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Combo Pack of 2 Walking Shoes Sneakers For Men',
 'Stylish & Comfort Combo Pack of 02 Pair Shoes for Boys ...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Lightweight Pack of 02 Pair Shoes for Men Casual Sneake...',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 'Puma Smash Vulc Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Combo Pack Of 4 Casual Sneakers For Men',
 '502 Trendy Sneakers Outdoors Casuals Sports for Running...',
 'Smart Casuals Canvas Shoes Combo pack of 2 Sneakers For...',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Cape IDP Sneakers For Men',
 'SPARX SD0323G Sneakers For Men',
 'Sneakers For Men',
 'Canvas Casual Partywear Outdoor Sneakers Shoes For Mens...',
 'PANAL Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Partywear Sn...',
 'Combo Pack of 5 Casual Sneakers With Sneakers For Men',
 'Adiset M Sneakers For Men',
 'Sneakers For Men',
 'Vs Pace Sneakers For Men',
 'Sneakers For Men',
 'sneaker for mens and boys Sneakers For Men',
 'Sneakers For Men',
 'Simha IDP Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 "Men's Denim Casual Sneakers Jeans Shoes Sneakers For Me...",
 'Men SM-461 Navy Blue Sneakers For Men',
 'Sneakers For Men',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 'Shoes in Black Color Party wear/Outdoor/Casual Shoes Fo...',
 'Combo Pack of 2 Casual Loafer Sneakers Shoes Sneakers F...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Puma Rebound LayUp SL Sneakers For Men',
 'Lazy Knit Slip On IDP Sneakers For Men',
 'Outdoor Sneakers For Men',
 'Sneakers For Men',
 'Smart Casuals Canvas Shoes Combo pack of 2 Sneakers For...',
 'Sneakers For Men',
 'Court Royale AC Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 Buck Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Sneakers For Men',
 'SM-162 Sneakers For Men',
 'Sneakers For Men',
 'Trend Sneakers For Men',
 'Mercedes Drift Cat 8 Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men',
 'Men Boxer Sneakers For Men',
 '171 Smart Tan Lace-Ups Casuals for Men Sneakers For Men',
 'CLARKIN Sneakers For Men',
 'Combo Pack of 5 Casual Sneakers With Sneakers For Men',
 '1245SpiderBlack Sneakers For Men',
 'Perfect & Affordable Combo Pack of 04 Pairs Sneakers Ou...',
 'Affordable Combo Pack of 02 Pairs Sneakers Outdoor Loaf...',
 'Sneakers Shoes For Men Black Sneakers For Men',
 'Gym/Walking/Running Sneakers For Men',
 'PRO-NP-AW08 Sneakers For Men',
 'Bari Z Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Sneakers For Men',
 'Stylish & Latest Shoes Men & Boys Sneakers For Men',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 'Shark-41 Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Gym/Walking/Running Sneakers For Men',
 'Sneakers For Men',
 'Lightweight Combo Pack Of 04 Trendy Sneakers Sneakers F...',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Acrux IDP Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Casual Sneakers White Shoes For Men And White Sneakers ...',
 'Sneakers For Men',
 'Black Sneaker For Men Sneakers For Men',
 'Axis Sneakers For Men',
 'ST Runner v2 NL Sneakers For Men',
 'Simha IDP Sneakers For Men',
 'Sneakers For Men',
 '170 Smart Grey Lace-Ups Casuals for Men Sneakers For Me...',
 'Advantage Base Sneakers For Men',
 'Trendy Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men',
 'SM-482 Sneakers For Men',
 'Combo Men Pack of 2 Loafers Shoes Sneakers For Men',
 'Combo Pack of 5 Casual Sneakers With Sneakers For Men',
 'Poise Perf V1 IDP Sneakers For Men',
 'Cool summer wear blue shoes Sneakers For Men',
 'INDI EXCLUSIVE Sneakers For Men',
 'SB CHECK SOLAR CNVS Sneakers For Men',
 'SM-607 Sneakers For Men',
 'Men & Boys Stylish, Comfortable Mesh Shoes With Soft La...',
 'Lazy Knit Slip On IDP Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'FUTURE RIDER PLAY ON Sneakers For Men',
 'SB Heritage Vulc Skate Sneakers For Men',
 'Sneakers For Men',
 'Meridian- Ostwall Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Bounder Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Casual Sneakers White Shoes For Men And Boys Sneakers F...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Black Sneaker For Men Sneakers For Men',
 "Karda Casual Sneakers and Gym Shoes for Men's and Boys ...",
 'Mesh Casual Stylish Partywear Casaul Shoes For Mens And...',
 'Court Royale AC Sneakers For Men',
 'Sneakers For Men',
 'Gym/Walking/Running Sneakers For Men',
 'Trenzo II IDP Sneakers For Men',
 'Combo Pack of 5 Casual Sneakers With Sneakers For Men',
 'one8 Prime Mid V3 Sneakers For Men',
 'Casual Sneaker Sneakers For Men',
 'Puma Wired Cage Sneakers For Men',
 'Flex Generation V1 IDP Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 4 Casual Sneaker Shoes For Men Sneakers F...',
 'EMAN Sneakers For Men',
 '9019 Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Puma Flex Renew Sneakers For Men',
 'Subtle Appeal Canvas Shoes For Men',
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 'Casual shoes Sneakers For Men',
 'ELITE FLEX Sneakers For Men',
 'Sneakers For Men',
 'Perfect Black Sneaker Sport Casual Canvas Running Walki...',
 'Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Flex Generation V1 IDP Sneakers For Men',
 'Court Royale 2 Low Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Light Weighted Sport Shoes, Casual Shoes, Cycling shoes...',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers Sneakers...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Gym/Walking/Running Sneakers For Men',
 'Jfwbanna Print Pu Sneakers For Men',
 'Combo Pack of 5 Casual Sneakers With Sneakers For Men',
 'Breaknet Sneakers For Men',
 'Sneakers For Men',
 'KOOP Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Stylish Combo Pack of 3 Sneaker Shoes Sneakers For Men',
 'Icon IDP Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Vs Pace Sneakers For Men',
 'Atsuma Sneakers For Men',
 'Men SM-461 Black Grey Sneakers For Men',
 'Latest Collection-349 Stylish Casual Sports Sneakers Fo...',
 'Serve Pro Sneakers For Men',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 'ADISET 1.0 M Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'CASIO Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 Buck Sneakers For Men',
 'Grand Court Sneakers For Men',
 'Breaknet Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'EBERNON LOW PREM Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Presenting This Stylish High Ankle Sneakers Combo of 2 ...',
 'casual shoe for men Sneakers For Men',
 'Stylish Design Sneakers Shoes For Men & Boys - Play Red...',
 'Sneakers For Men',
 'Casual Shoes Sneakers For Men',
 '282 Sneakers For Men',
 'Combo Pack of 5 Casual Sneakers With Sneakers For Men',
 'Nike SB BLZR Court Skate Shoe Sneakers For Men',
 'Court Vision Low Premium Sneakers For Men',
 'Sneakers For Men',
 'LEBRON 2.0 Sneakers For Men',
 'SM-282 Sneakers For Men',
 'Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Canvas Sneakers For Men',
 'Sneakers For Men',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...']

In [55]:
#extracting price data

price=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    product_price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in product_price[:100]:
        price.append(i.text)
        
price

['₹1,445',
 '₹409',
 '₹399',
 '₹748',
 '₹449',
 '₹599',
 '₹495',
 '₹474',
 '₹349',
 '₹240',
 '₹499',
 '₹499',
 '₹378',
 '₹499',
 '₹698',
 '₹449',
 '₹499',
 '₹399',
 '₹449',
 '₹449',
 '₹499',
 '₹425',
 '₹449',
 '₹470',
 '₹683',
 '₹242',
 '₹350',
 '₹1,189',
 '₹199',
 '₹240',
 '₹419',
 '₹621',
 '₹378',
 '₹199',
 '₹418',
 '₹749',
 '₹349',
 '₹475',
 '₹698',
 '₹475',
 '₹799',
 '₹499',
 '₹465',
 '₹1,445',
 '₹349',
 '₹499',
 '₹669',
 '₹409',
 '₹410',
 '₹189',
 '₹474',
 '₹1,374',
 '₹468',
 '₹240',
 '₹283',
 '₹449',
 '₹474',
 '₹635',
 '₹449',
 '₹699',
 '₹355',
 '₹499',
 '₹398',
 '₹759',
 '₹398',
 '₹499',
 '₹419',
 '₹470',
 '₹449',
 '₹799',
 '₹384',
 '₹599',
 '₹499',
 '₹449',
 '₹692',
 '₹621',
 '₹468',
 '₹430',
 '₹1,360',
 '₹475',
 '₹1,549',
 '₹498',
 '₹669',
 '₹1,445',
 '₹398',
 '₹749',
 '₹2,429',
 '₹409',
 '₹469',
 '₹468',
 '₹675',
 '₹474',
 '₹555',
 '₹730',
 '₹598',
 '₹499',
 '₹1,047',
 '₹289',
 '₹399',
 '₹449',
 '₹985',
 '₹674',
 '₹465',
 '₹449',
 '₹348',
 '₹1,739',
 '₹369',
 '₹379',
 '₹399',
 '₹352',
 '₹498',
 '₹759',
 '₹699',
 '₹1,813',
 '₹499',
 '₹470',
 '₹398',
 '₹448',
 '₹429',
 '₹599',
 '₹985',
 '₹346',
 '₹629',
 '₹1,445',
 '₹379',
 '₹474',
 '₹698',
 '₹409',
 '₹898',
 '₹499',
 '₹449',
 '₹1,374',
 '₹1,649',
 '₹474',
 '₹245',
 '₹474',
 '₹449',
 '₹1,409',
 '₹349',
 '₹499',
 '₹261',
 '₹308',
 '₹629',
 '₹449',
 '₹1,047',
 '₹349',
 '₹1,049',
 '₹379',
 '₹448',
 '₹199',
 '₹329',
 '₹699',
 '₹949',
 '₹299',
 '₹1,414',
 '₹759',
 '₹489',
 '₹468',
 '₹399',
 '₹599',
 '₹199',
 '₹2,203',
 '₹473',
 '₹1,445',
 '₹498',
 '₹470',
 '₹425',
 '₹409',
 '₹659',
 '₹1,630',
 '₹2,163',
 '₹474',
 '₹666',
 '₹1,949',
 '₹458',
 '₹499',
 '₹349',
 '₹341',
 '₹630',
 '₹449',
 '₹625',
 '₹298',
 '₹399',
 '₹379',
 '₹468',
 '₹2,347',
 '₹438',
 '₹759',
 '₹505',
 '₹1,360',
 '₹407',
 '₹470',
 '₹284',
 '₹370',
 '₹451',
 '₹599',
 '₹299',
 '₹298',
 '₹341',
 '₹1,189',
 '₹341',
 '₹1,409',
 '₹449',
 '₹1,445',
 '₹448',
 '₹349',
 '₹799',
 '₹409',
 '₹1,567',
 '₹2,787',
 '₹789',
 '₹474',
 '₹399',
 '₹450',
 '₹499',
 '₹499',
 '₹673',
 '₹212',
 '₹249',
 '₹449',
 '₹1,234',
 '₹1,949',
 '₹243',
 '₹379',
 '₹538',
 '₹629',
 '₹298',
 '₹759',
 '₹1,988',
 '₹379',
 '₹591',
 '₹470',
 '₹398',
 '₹284',
 '₹489',
 '₹599',
 '₹474',
 '₹198',
 '₹645',
 '₹1,189',
 '₹499',
 '₹498',
 '₹1,504',
 '₹1,445',
 '₹379',
 '₹449',
 '₹474',
 '₹474',
 '₹1,903',
 '₹448',
 '₹369',
 '₹499',
 '₹499',
 '₹299',
 '₹379',
 '₹449',
 '₹1,623',
 '₹2,226',
 '₹1,313',
 '₹379',
 '₹236',
 '₹2,999',
 '₹468',
 '₹699',
 '₹1,045',
 '₹1,099',
 '₹362',
 '₹235',
 '₹1,643',
 '₹199',
 '₹449',
 '₹399',
 '₹349',
 '₹1,371',
 '₹2,027',
 '₹759',
 '₹699',
 '₹499',
 '₹1,418',
 '₹470',
 '₹2,480',
 '₹398',
 '₹1,408',
 '₹1,445',
 '₹236',
 '₹2,928',
 '₹2,879',
 '₹474',
 '₹629',
 '₹379',
 '₹314',
 '₹499',
 '₹399',
 '₹449',
 '₹1,099',
 '₹449',
 '₹669',
 '₹699',
 '₹449',
 '₹379',
 '₹379',
 '₹3,679',
 '₹512',
 '₹699',
 '₹349',
 '₹3,442',
 '₹1,627',
 '₹399',
 '₹2,399',
 '₹699',
 '₹2,006',
 '₹235',
 '₹1,049',
 '₹2,787',
 '₹806',
 '₹759',
 '₹789',
 '₹684',
 '₹1,641',
 '₹470',
 '₹398',
 '₹4,527',
 '₹449',
 '₹1,445',
 '₹398',
 '₹359',
 '₹498',
 '₹499',
 '₹299',
 '₹1,744',
 '₹1,687',
 '₹474',
 '₹2,996',
 '₹369',
 '₹231',
 '₹449',
 '₹341',
 '₹719',
 '₹499',
 '₹379',
 '₹392',
 '₹1,356',
 '₹799',
 '₹699',
 '₹3,599',
 '₹1,376',
 '₹899',
 '₹235',
 '₹1,411',
 '₹499',
 '₹2,958',
 '₹759',
 '₹3,027',
 '₹882',
 '₹199',
 '₹399',
 '₹499',
 '₹664',
 '₹448',
 '₹470',
 '₹1,019',
 '₹2,201',
 '₹685',
 '₹1,445',
 '₹1,673',
 '₹2,759',
 '₹2,258',
 '₹474',
 '₹569',
 '₹449',
 '₹2,100',
 '₹499',
 '₹499',
 '₹449',
 '₹249',
 '₹449',
 '₹239',
 '₹202',
 '₹751',
 '₹379',
 '₹3,746',
 '₹3,777',
 '₹798',
 '₹699',
 '₹3,999',
 '₹899',
 '₹899',
 '₹399',
 '₹899',
 '₹359',
 '₹1,274',
 '₹235',
 '₹679',
 '₹388',
 '₹630',
 '₹759',
 '₹1,767',
 '₹1,360',
 '₹404',
 '₹470']

In [56]:
# extracting discount data 
discount=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    discount_price=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span')
    for i in discount_price:
        discount.append(i.text)
        
discount

['60% off',
 '68% off',
 '60% off',
 '62% off',
 '65% off',
 '62% off',
 '50% off',
 '62% off',
 '65% off',
 '51% off',
 '50% off',
 '76% off',
 '62% off',
 '75% off',
 '65% off',
 '50% off',
 '50% off',
 '60% off',
 '77% off',
 '65% off',
 '50% off',
 '71% off',
 '55% off',
 '77% off',
 '72% off',
 '65% off',
 '29% off',
 '82% off',
 '60% off',
 '51% off',
 '58% off',
 '76% off',
 '62% off',
 '60% off',
 '71% off',
 '37% off',
 '47% off',
 '52% off',
 '72% off',
 '52% off',
 '20% off',
 '50% off',
 '59% off',
 '60% off',
 '65% off',
 '50% off',
 '4% off',
 '68% off',
 '75% off',
 '62% off',
 '88% off',
 '62% off',
 '53% off',
 '51% off',
 '43% off',
 '77% off',
 '63% off',
 '36% off',
 '55% off',
 '87% off',
 '64% off',
 '50% off',
 '69% off',
 '82% off',
 '69% off',
 '50% off',
 '79% off',
 '69% off',
 '77% off',
 '59% off',
 '61% off',
 '76% off',
 '50% off',
 '55% off',
 '30% off',
 '62% off',
 '53% off',
 '74% off',
 '54% off',
 '37% off',
 '50% off',
 '50% off',
 '4% off',
 '60% off',
 '69% off',
 '21% off',
 '45% off',
 '68% off',
 '53% off',
 '53% off',
 '32% off',
 '62% off',
 '44% off',
 '23% off',
 '62% off',
 '76% off',
 '54% off',
 '71% off',
 '60% off',
 '50% off',
 '26% off',
 '32% off',
 '53% off',
 '65% off',
 '65% off',
 '42% off',
 '63% off',
 '77% off',
 '60% off',
 '64% off',
 '75% off',
 '69% off',
 '82% off',
 '54% off',
 '50% off',
 '76% off',
 '20% off',
 '55% off',
 '66% off',
 '62% off',
 '22% off',
 '65% off',
 '16% off',
 '60% off',
 '62% off',
 '68% off',
 '53% off',
 '76% off',
 '55% off',
 '50% off',
 '55% off',
 '50% off',
 '50% off',
 '83% off',
 '51% off',
 '65% off',
 '55% off',
 '70% off',
 '65% off',
 '77% off',
 '73% off',
 '69% off',
 '16% off',
 '87% off',
 '61% off',
 '65% off',
 '19% off',
 '82% off',
 '77% off',
 '60% off',
 '67% off',
 '60% off',
 '62% off',
 '70% off',
 '59% off',
 '52% off',
 '51% off',
 '53% off',
 '61% off',
 '69% off',
 '60% off',
 '42% off',
 '88% off',
 '60% off',
 '66% off',
 '76% off',
 '57% off',
 '76% off',
 '34% off',
 '53% off',
 '39% off',
 '50% off',
 '11% off',
 '35% off',
 '8% off',
 '77% off',
 '30% off',
 '65% off',
 '36% off',
 '82% off',
 '16% off',
 '70% off',
 '33% off',
 '60% off',
 '53% off',
 '41% off',
 '56% off',
 '52% off',
 '75% off',
 '54% off',
 '59% off',
 '69% off',
 '71% off',
 '62% off',
 '54% off',
 '76% off',
 '78% off',
 '70% off',
 '65% off',
 '62% off',
 '65% off',
 '70% off',
 '65% off',
 '60% off',
 '77% off',
 '65% off',
 '15% off',
 '76% off',
 '55% off',
 '37% off',
 '16% off',
 '50% off',
 '60% off',
 '54% off',
 '50% off',
 '77% off',
 '32% off',
 '57% off',
 '50% off',
 '82% off',
 '58% off',
 '35% off',
 '51% off',
 '60% off',
 '58% off',
 '21% off',
 '70% off',
 '52% off',
 '50% off',
 '62% off',
 '71% off',
 '69% off',
 '43% off',
 '43% off',
 '51% off',
 '76% off',
 '76% off',
 '60% off',
 '35% off',
 '62% off',
 '88% off',
 '55% off',
 '25% off',
 '60% off',
 '56% off',
 '50% off',
 '59% off',
 '76% off',
 '50% off',
 '42% off',
 '70% off',
 '50% off',
 '38% off',
 '55% off',
 '52% off',
 '77% off',
 '52% off',
 '60% off',
 '50% off',
 '82% off',
 '42% off',
 '59% off',
 '50% off',
 '52% off',
 '40% off',
 '72% off',
 '53% off',
 '60% off',
 '58% off',
 '62% off',
 '55% off',
 '69% off',
 '56% off',
 '44% off',
 '55% off',
 '76% off',
 '70% off',
 '57% off',
 '51% off',
 '62% off',
 '54% off',
 '60% off',
 '60% off',
 '60% off',
 '52% off',
 '54% off',
 '52% off',
 '76% off',
 '16% off',
 '77% off',
 '68% off',
 '50% off',
 '60% off',
 '55% off',
 '63% off',
 '65% off',
 '33% off',
 '12% off',
 '55% off',
 '77% off',
 '62% off',
 '33% off',
 '48% off',
 '82% off',
 '65% off',
 '42% off',
 '59% off',
 '60% off',
 '40% off',
 '82% off',
 '42% off',
 '52% off',
 '66% off',
 '37% off',
 '15% off',
 '69% off',
 '47% off',
 '31% off',
 '58% off',
 '76% off',
 '20% off',
 '43% off',
 '55% off',
 '60% off',
 '20% off',
 '64% off',
 '50% off',
 '50% off',
 '62% off',
 '54% off',
 '57% off',
 '76% off',
 '25% off',
 '63% off',
 '61% off',
 '65% off',
 '65% off',
 '44% off',
 '70% off',
 '77% off',
 '34% off',
 '58% off',
 '38% off',
 '82% off',
 '40% off',
 '65% off',
 '79% off',
 '52% off',
 '59% off',
 '50% off',
 '40% off',
 '69% off',
 '44% off',
 '15% off',
 '60% off',
 '60% off',
 '66% off',
 '71% off',
 '55% off',
 '76% off',
 '52% off',
 '25% off',
 '40% off',
 '60% off',
 '87% off',
 '33% off',
 '58% off',
 '50% off',
 '47% off',
 '78% off',
 '74% off',
 '76% off',
 '65% off',
 '37% off',
 '60% off',
 '82% off',
 '62% off',
 '75% off',
 '15% off',
 '60% off',
 '51% off',
 '70% off',
 '51% off',
 '52% off',
 '53% off',
 '62% off',
 '58% off',
 '87% off',
 '33% off',
 '30% off',
 '55% off',
 '77% off',
 '55% off',
 '50% off',
 '63% off',
 '76% off',
 '52% off',
 '52% off',
 '63% off',
 '37% off']

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image

In [57]:
# searching webelement

url='https://www.myntra.com/shoes'

In [58]:
#getting url

driver.get(url)

In [59]:
# searching filter element

product_filter=driver.find_element_by_xpath('//span[@class="header-title"]')

product_filter.click()

In [62]:
# clicking price filter

price_filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")

price_filter.click()

In [64]:
# clicking color filter

color_filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")

color_filter.click()

In [65]:
#getting urls

urls=[]
for i in driver.find_elements_by_xpath('//li[@class="pagination-active" or @class="pagination-number"]/a'):
    urls.append(i.get_attribute('href'))
    
urls

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=2',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=3',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=4',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=5',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=6',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=7',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=8',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=9',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=10']

In [66]:
# extracting brand data

brand=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    shoe_brand=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for i in shoe_brand[:100]:
        brand.append(i.text)
        
brand[:100]

['ALDO',
 'Nike',
 'Nike',
 'Nike',
 'ALDO',
 'Nike',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Nike',
 'UNDER ARMOUR',
 'Puma',
 'Geox',
 'ADIDAS',
 'Skechers',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Hush Puppies',
 'Nike',
 'PUMA Hoops',
 'FORCLAZ By Decathlon',
 'Ruosh',
 'ASICS',
 'Hush Puppies',
 'Hush Puppies',
 'Hush Puppies',
 'UNDER ARMOUR',
 'Puma',
 'ASICS',
 'Puma',
 'Vans',
 'Kalenji By Decathlon',
 'UNDER ARMOUR',
 'Ruosh',
 'Hush Puppies',
 'Hush Puppies',
 'Puma',
 'Hush Puppies',
 'Puma',
 'J.FONTINI',
 'Bugatti',
 'San Frissco',
 'Hush Puppies',
 'ALDO',
 'Geox',
 'Kenneth Cole',
 'Geox',
 'Ruosh',
 'J.FONTINI',
 'KIPRUN By Decathlon',
 'Ruosh',
 'Ruosh',
 'Bugatti',
 'Nike',
 'Bugatti',
 'Saint G',
 'Levis',
 'Geox',
 'Kenneth Cole',
 'Bugatti',
 'RARE RABBIT',
 'Nike',
 'Nike',
 'DAVINCHI',
 'Nike',
 'Puma',
 'DAVINCHI',
 'DAVINCHI',
 'Nike',
 'Kenneth Cole',
 'Nike',
 'Puma',
 'Nike',
 'Heel & Buckle London',
 'Geox',
 'Nike',
 'Bugatti',
 'Saint G',
 'Hush Puppies',
 'Geox',
 'J.FONTINI',
 'ADIDAS',
 'Geox',
 'Florsheim',
 'Cole Haan',
 'Cole Haan',
 'Geox',
 'ADIDAS',
 'Cole Haan',
 'VIONIC',
 'J.FONTINI',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Hush Puppies',
 'KLEAT',
 'J.FONTINI',
 'Lacoste',
 'Lacoste',
 'ASICS',
 'Lacoste',
 'Puma']

In [67]:
# extraxting description data

description=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    shoe_description=driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for i in shoe_description[:100]:
        description.append(i.text)
        
description[:100]

['Men Driving Shoes',
 'LEBRON XVIII Basketball Shoes',
 'Men AIR ZOOM Running Shoes',
 'Women FREE RN 5.0 Shoes',
 'Men Sneakers',
 'Unisex LEBRON XVIII Basketball',
 'Men Leather Formal Derbys',
 'Women Liquify Rebel Running',
 'Men Leather Slip-On Sneakers',
 'Men CHALLENGER OG Sneakers',
 'Women TriBase Reign 2 Training',
 'Men Liberate Nitro Running',
 'Women SUPERNOVA Running Shoes',
 'Men Flex Advantage 4.0Upstream',
 'HOVR Sonic 3 Running Shoes',
 'Men Leather Slip-On Shoes',
 'Men Colourblocked Driving Shoes',
 'Unisex Clyde Basketball Shoes',
 'Women Air Max Siren Sneakers',
 'TREKKING 100 Boots',
 'Men Solid Leather Formal Slip-Ons',
 'Women Running Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Men Solid Leather Formal Slip-Ons',
 'Men Leather Slip-On Sneakers',
 'Women HOVR Rise 2 Training',
 'Women Eternity Nitro Running',
 'Men Running Shoes',
 'Women Sandals',
 'Women Deviate Nitro Running',
 'Men Striped Sneakers',
 'Men KD500 Running Shoe',
 'GS SC 3Zero IV Basketball',
 'Men Textured Leather Monks',
 'Men Leather Derbys',
 'Men Solid Leather Formal Derbys',
 'Women Liberate Nitro Running',
 'Men Solid Leather Formal Slip-Ons',
 'Men 365 Evoknit Ignite Ct Football',
 'Men Textured Leather Loafers',
 'Men Slip-On Sneakers',
 'Men Leather Loafers',
 'Men Formal Derbys',
 'Men Leather Driving Shoes',
 'Men Solid Leather Sneakers',
 'Men Leather Formal Derbyacs',
 'Men Textured Leather Loafers',
 'Men Formal Leather Brogues',
 'Women Running Shoes',
 'Men Solid Leather Formal Monks',
 'Men Solid Leather Formal Monks',
 'Women Mid-Top Sneakers',
 'Women AIR MAX VIVA Sneakers',
 'Men Perforated Mule Sneakers',
 'Men Leather Chelsea Boots',
 'Men Solid Sneakers',
 'Men Leather Semiformal Driving',
 'Women Leather Pumps',
 'Men Solid Leather Formal Monk Shoes',
 'Men AIR ZOOM PEGASUS 38 Run',
 'Men Perforations Leather Brogues',
 'Men AIR ZOOM PEGASUS 38 Run',
 'Men Formal Leather Slip-Ons',
 'Men JORDAN ONE TAKE II Shoes',
 'Men Velocity Nitro Running',
 'Ustraa black',
 'Men Textured Formal Leather Loafers',
 'Men Zoom Winflo 8 Running',
 'Men Solid Leather Formal Derbys',
 'Men REACT MILER 2 Running',
 'Men Running Shoes',
 'Men REACT MILER 2 Running',
 'Women Peep Toe Heels',
 'Men Leather Formal Slip-Ons',
 'Men Solid Leather Formal Derbys',
 'Unisex TREY 5 Basketball Shoes',
 'Women Leather Heeled Boots',
 'Men Leather Formal Derbys',
 'Men Leather Formal Derbys',
 'Men Solid Leather Formal Derbys',
 'Men Supernova Running Shoes',
 'Men Solid Leather Formal Loafers',
 'Men Leather Driving Shoes',
 'Men Wingtip Oxford Sneakers',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Leather Slip-On Sneakers',
 'Women Edge Lux 4 Running',
 'Leather Sneakers',
 'Men Textured Sneakers',
 'Men Textured Leather Loafers',
 'HOVR Infinite 2 Running Shoes',
 'Men Textured Oxfords',
 'Men Woven Design Sneakers',
 'Men Woven Design Loafers',
 'Men Solid Loafers',
 'Men Woven Design Sneakers',
 'Men Colourblocked Sneakers',
 'Men Running Shoes',
 'Woven Design Casual Sneakers',
 'Women Velocity Nitro Running']

In [68]:
# extracting price data 

price=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    shoe_price=driver.find_elements_by_xpath('//div[@class="product-price"]')
    for i in shoe_price[:100]:
        price.append(i.text)
        
price[:100]

['Rs. 11999',
 'Rs. 12316Rs. 17595(30% OFF)',
 'Rs. 7721Rs. 10295(25% OFF)',
 'Rs. 9999',
 'Rs. 12316Rs. 17595(30% OFF)',
 'Rs. 6795Rs. 7995(15% OFF)',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 6965Rs. 8195(15% OFF)',
 'Rs. 11999',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 6999',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 10999',
 'Rs. 6999',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 8999',
 'Rs. 6999',
 'Rs. 6965Rs. 8195(15% OFF)',
 'Rs. 6990',
 'Rs. 9659Rs. 13999(31% OFF)',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 6999',
 'Rs. 9999',
 'Rs. 6899Rs. 9999(31% OFF)',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 7857Rs. 8449(7% OFF)',
 'Rs. 11249Rs. 14999(25% OFF)',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 7499',
 'Rs. 6990',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 9999',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 6990',
 'Rs. 7999',
 'Rs. 6747Rs. 14995(55% OFF)',
 'Rs. 9999',
 'Rs. 9990',
 'Rs. 7413Rs. 10590(30% OFF)',
 'Rs. 7495Rs. 14990(50% OFF)',
 'Rs. 6990',
 'Rs. 7490',
 'Rs. 7006Rs. 7149(2% OFF)',
 'Rs. 6990',
 'Rs. 7499',
 'Rs. 9371Rs. 12495(25% OFF)',
 'Rs. 6990',
 'Rs. 7499',
 'Rs. 9371Rs. 12495(25% OFF)',
 'Rs. 6999',
 'Rs. 11305Rs. 11900(5% OFF)',
 'Rs. 6999',
 'Rs. 10490',
 'Rs. 10493Rs. 14990(30% OFF)',
 'Rs. 8499',
 'Rs. 9995',
 'Rs. 6999',
 'Rs. 9995',
 'Rs. 8990',
 'Rs. 8295',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 8295',
 'Rs. 8154Rs. 13590(40% OFF)',
 'Rs. 11495',
 'Rs. 12999',
 'Rs. 11495',
 'Rs. 7192Rs. 8990(20% OFF)',
 'Rs. 7495Rs. 14990(50% OFF)',
 'Rs. 10499',
 'Rs. 8195',
 'Rs. 6675Rs. 8900(25% OFF)',
 'Rs. 6999',
 'Rs. 6995Rs. 13990(50% OFF)',
 'Rs. 6990',
 'Rs. 9499Rs. 9999(5% OFF)',
 'Rs. 6995',
 'Rs. 9999',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 9490',
 'Rs. 7999',
 'Rs. 10999',
 'Rs. 7039Rs. 10999(36% OFF)',
 'Rs. 7690',
 'Rs. 11999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 7990',
 'Rs. 8500',
 'Rs. 8650',
 'Rs. 11999',
 'Rs. 7052Rs. 10850(35% OFF)',
 'Rs. 7699Rs. 10999(30% OFF)']

10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

1. title
2. Ratings
3. Price

In [69]:
# searching for amazone url

url="https://www.amazon.in/"

In [70]:
# getting url

driver.get(url)

In [72]:
# searching for laptops

search_laptops=driver.find_element_by_id("twotabsearchtextbox")

search_laptops

In [73]:
#sending key words for laptop

search_laptops.send_keys('Laptop')

In [74]:
# clicking the search button

search_btn=driver.find_element_by_id('nav-search-submit-button')

search_btn.click()

In [75]:
# searching for cpu intel core i7 & i9

search_cpu=driver.find_element_by_xpath('//span[@class="a-size-base a-color-base a-text-bold"]')

search_cpu

In [76]:
# clicking for i7 processor

i7=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')

i7.click()

In [77]:
# clicking for i9 processor

i9=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/span')

i9.click()

In [78]:
# getting all the urls

urls=[]
for i in driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a'):
    urls.append(i.get_attribute('href'))

In [79]:
# extracting only 10 laptop titles data

titles=[]
laptoptitles=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in laptoptitles:
    titles.append(i.text)

titles[:10]

['HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam',
 'HP Pavilion x360 (2021) 14" (35.56cms) FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader (14-dw1040TU)',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'HP 14 Thin & Light 14" (35.56cms) FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU',
 'Dell Inspiron 15 Gaming 7567 15.6-inch Laptop (7th Gen Core i7-7700HQ/8GB/1TB/Windows 10 with Microsoft Office Home & Student 2016/4GB Graphics)',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'Dell 14 (2021) i7-1165G7 2in1 Touch Screen Laptop, 16Gb RAM, 512Gb SSD, 14” (35.56 cms) FHD Display, Win 10 + MSO, Backlit KB + FPR + Active Pen, Silver Metal Color (Inspiron 5410, D560469WIN9S)',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics ;Dreamy White;1.4 Kg), S433EA-AM702TS',
 'MSI GF63 Thin 10SCSR-019IN Intel Core i7-10750H 10th Gen 15.6-inch 120Hz Laptop(8GB/512GB NVMe SSD /Windows 10 Home/Nvidia GeForce GTX 1650Ti Max-Q 4GB/Black/1.8Kg ) 9S7-16R412-019']

In [80]:
#extracting 10 laptop price data

price=[]
laptop_price=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
for i in laptop_price:
    price.append(i.text)

price[:10]

['84,990',
 '59,999',
 '78,993',
 '96,555',
 '88,990',
 '78,990',
 '83,990',
 '91,450',
 '76,990',
 '84,990']

In [82]:
# extracting 10 laptop rating data

rating=[]
for i in urls[:10]:
    driver.get(i)
    time.sleep(1)
    laptop_rating=driver.find_elements_by_xpath('//span[@class="a-size-base a-nowrap"]/span')
    for i in laptop_rating:
        rating.append(i.text)
        
rating[:10]

['4.4 out of 5',
 '4.4 out of 5',
 '4 out of 5',
 '4.2 out of 5',
 '4.6 out of 5',
 '2.7 out of 5',
 '4 out of 5',
 '4.6 out of 5',
 '4.4 out of 5',
 '2.9 out of 5']